.invoice-info {
    display:flex;
    justify-content: center;
    flex-direction: column;
    
}

.remittance-info-div > div{
   border-bottom: 1px solid #ccc;
}

.label-text {
    font-size: 14px;
    color: #7F7F7F
}

.value-text {
    font-size: 14px;
    color: #333333
}

.font-20 {
    font-size: 20px;
}

.remittance-header{ 
   font-weight: 700;
   margin-right: 5px
}

:host ::ng-deep elm-card .elm-card {
    background-color: #f6f6f6;
    
}