<div class="d-flex justify-content-between">
  <div class="headline2 mb-3">
    Invoice Overview
  </div>
  <div class="m-1 fal-label">
    Invoice Type: Auto
  </div>
</div>

<elm-card id="backrgound-grey">
    <div class="row p-4">
        <div class="col-md-7 col-lg-7 col-xl-7">
            <div class="row invoice-info-first-row">
                <div class="col invoice-info ">
                    <span class="label-text">Invoice Net amount</span>
                    <span class="value-text">{{invoiceOverviewDetail?.invoiceNetAmount | currency}}</span>
                </div>

                <div class="col invoice-info ">
                    <span class="label-text">Invoice Date</span>
                    <span class="value-text">{{invoiceOverviewDetail?.invoiceDate | date: 'MM-dd-yyyy zzz'}}</span>
                </div>
                <div class="col invoice-info">
                    <span class="label-text">Payment Due</span>
                    <span class="value-text">{{invoiceOverviewDetail?.paymentDue | date: 'MM-dd-yyyy zzz'}}</span>
                </div>
                <div class="col invoice-info">
                    <span class="label-text">Freight Payment Terms</span>
                    <span class="value-text">{{invoiceOverviewDetail?.freightPaymentTerms ? invoiceOverviewDetail?.freightPaymentTerms : 'N/A'}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col invoice-info">
                    <span class="label-text">Bill to Address</span>
                    <span class="value-text">
                        <ng-container *ngIf="invoiceOverviewDetail?.billToAddress else defaultDiv">
                            <div>{{invoiceOverviewDetail?.billToAddress?.name}}</div>
                            <div>{{invoiceOverviewDetail?.billToAddress?.address}}</div>
                            <div>{{invoiceOverviewDetail?.billToAddress?.city}}, {{invoiceOverviewDetail?.billToAddress?.state}} {{invoiceOverviewDetail?.billToAddress?.zipCode}}</div>
                            <div>{{invoiceOverviewDetail?.billToAddress?.country}}</div>
                        </ng-container>
                        <ng-template #defaultDiv>
                            N/A
                        </ng-template>


                    </span>
                </div>

                <div class="col invoice-info">
                    <span class="label-text">Carrier</span>
                    <span class="value-text">{{invoiceOverviewDetail?.carrier ? invoiceOverviewDetail?.carrier : 'N/A'}}</span>
                </div>
                <div class="col invoice-info">
                    <span class="label-text">Carrier Mode</span>
                    <span class="value-text">{{invoiceOverviewDetail?.carrierMode ? invoiceOverviewDetail?.carrierMode: 'N/A'}}</span>
                </div>
                <div class="col invoice-info">
                    <span class="label-text">Business Unit</span>
                    <span class="value-text">{{invoiceOverviewDetail?.businessUnit ? invoiceOverviewDetail?.businessUnit : 'N/A'}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-lg-5 col-xl-5">
            <div class="d-flex justify-content-between mb-3">
              <div>
                <span class="remittance-header">Remittance Information</span>
                <app-info-icon-tooltip
                [fontSize]="'20px'"
                [tooltipMessage]="'Remittance information is not available until payment of invoice in ERP'"></app-info-icon-tooltip>
              </div>
              <div class="history-icon" (click)="onViewHistoryLog()">
                <span class="remittance-header col-auto">View History Log</span>
                <mat-icon>history</mat-icon>
              </div>
            </div>
            <div class="remittance-info-div">

                <div class="remit-row">
                    <span class="label-text">ERP Invoice Number</span>
                    <span *ngFor="let value of erpInvoiceNumbers" class="value-text">{{ value}}</span>
                </div>
                <div class="remit-row">
                    <span class="label-text">ERP Remittance Number</span>
                    <span *ngFor="let value of erpRemittanceNumbers" class="value-text">{{ value}}</span>
                </div>
                <div class="remit-row">
                    <span class="label-text">Vendor ID</span>
                    <span *ngFor="let value of vendorIds" class="value-text">{{ value}}</span>
                </div>
                <div class="remit-row">
                    <span class="label-text">Amount of Payment</span>
                    <span *ngFor="let value of amountOfPayments" class="value-text">{{ value === 'N/A' ? 'N/A' : value | currency:'USD'}}</span>
                </div>
                <div class="remit-row">
                    <span class="label-text">Date of Payment</span>
                    <span *ngFor="let value of dateOfPayments" class="value-text">{{ value === 'N/A' ? 'N/A' : value | date:'MM-dd-yyyy'}}</span>
                </div>
            </div>
        </div>

    </div>
</elm-card>
