@use "@elm/elm-styleguide-ui/src/styles/utility/elm-colors" as colors;

.invoice-info {
    display:flex;
    flex-direction: column;

}

.history-icon {
  vertical-align: text-top;
  font-size: 20px;
  cursor: pointer;
}

.remittance-info-div > div{
   border-bottom: 1px solid #ccc;
}

.label-text {
    font-size: 14px;
    color: #7F7F7F
}

.value-text {
    font-size: 14px;
    color: #333333
}

.return-to-domicile {
  font-size: 14px;
  color: colors.$red;
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.return-to-domicile-text {
  margin-left: 8px;
}

.font-20 {
    font-size: 20px;
}

.remittance-header{
   font-weight: 700;
   margin-right: 5px
}

.history-log-header{
  cursor: pointer;
  font-weight: 700;
  margin-right: 5px
}

:host ::ng-deep #backrgound-grey .elm-card {
    background-color: #f6f6f6;

}

.invoice-info-first-row{
 margin-bottom: 2.5rem;
}

.remit-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  & span {
    width: 140px;
    text-align: left;
  }

  & span:nth-child(1) {
    width: 180px;
    text-align: left;
  }
}
