<div class="page-header">
  <div class="d-flex flex-column justify-content-between me-2">
    <div>
      <div class="headline1">Invoice List</div>
    </div>
  </div>
  <app-search (submitEvent)="searchInvoices($event)"></app-search>
</div>
<cardinal-card>
  <cardinal-section-header [sectionTitle]="this.invoiceCountLabel">
  </cardinal-section-header>
  <elm-data-table
    tableType="clickable"
    [data]="invoices"
    [headers]="headers"
    (pageChangedEvent)="pageChanged($event)"
    (rowClick)="rowClicked($event)"
    (sortEvent)="sortChanged($event)"
    [shouldSort]=true
    [totalResults]="paginationModel.total"
    [pageSizes]="paginationModel.pageSizes">
  </elm-data-table>
</cardinal-card>
