<div class="page-header">
  <div class="d-flex flex-column justify-content-between me-2">
    <div>
      <div class="headline1">Invoice List</div>
    </div>
  </div>
  <app-search [controlGroup]="controlGroup" (clearSearch)="clearSearchFilter()" (submitEvent)="searchInvoices($event)" [totalResults]="totalSearchResult"></app-search>
</div>
<elm-card>
  <elm-section-header [sectionTitle]="this.invoiceCountLabel">
    <div class='d-flex col-12'>
      <div class="ml-col-3">
        <div *ngIf="hasInvoiceWrite">
          <elm-button id="extract-invoice-button"
                      buttonType="button"
                      buttonStyle="text"
                      class="flex-shrink-1"
                      buttonColor="black"
                      (buttonClick)="routeToExtractPage()">
            <u>Extract Approved Invoices for Remittance</u>
          </elm-button>
        </div>
      </div>
      <div class="ml-col-3">
        <elm-button id="download-invoice-button"
                    buttonType="button"
                    buttonStyle="text"
                    prependIcon="download"
                    class="flex-shrink-1"
                    buttonColor="black"
                    (buttonClick)="downloadCsv()">
          Download List
        </elm-button>
      </div>
      <div class="ms-auto ml-col-6">
        <elm-button buttonStyle="primary"
                    (buttonClick)="openFilter()"
                    prependIcon="filter_list">
          Filter
        </elm-button>
      </div>
    </div>
  </elm-section-header>
  <cardinal-chip [totalResults]="paginationModel.total"
                 [filtersModel]="this.filterService.invoiceFilterModel"
                 (chipRemovedEvent)="this.resetTable()"></cardinal-chip>
  <elm-data-table
    tableType="clickable"
    [data]="invoices"
    [headers]="headers"
    [pageSize]="paginationModel.numberPerPage"
    [pageIndex]="paginationModel.pageIndex-1"
    (pageChangedEvent)="pageChanged($event)"
    (dataSelectedEvent)="rowClicked($event[0])"
    (sortEvent)="sortChanged($event)"
    [shouldSort]=true
    [totalResults]="paginationModel.total"
    [pageSizes]="paginationModel.pageSizes">
  </elm-data-table>
</elm-card>
