@use "@elm/elm-styleguide-ui/src/styles/utility/elm-colors" as colors;

.page-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  background-color: colors.$white;
  margin: 0 -24px 24px;
  padding: 0 24px 16px;
  min-height: 130px;
}

.invoice-status {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 -12px 12px;
  padding: 0 12px 8px;
}

.invoice-status-field {
  min-width: 300px;
  width: fit-content;
}

.ng-select.invoice-status-input ::ng-deep .ng-input {
  width: 0;
}
