@use "@elm/elm-styleguide-ui/src/styles/utility/elm-colors" as colors;

#upload-button-container {
  padding-top: 4em;
}

.attachment {
  padding: 0.5em;
  border-radius: 0.25rem;
  margin-bottom: 0.5em;
  font-size: small;
  word-break: break-all;
}
.attachment-label {
  padding: 9px 0;
}

.attachment-download {
  cursor: pointer;
}

.attachment-container {
  background-color: colors.$gray-lightest;
  border-radius: 0.25rem;
  border: 1px dashed colors.$gray-light;
  padding: 1em;
  height: 260px;
  overflow: auto;
}

.btn-remove-attachment {
  padding: 0em;
}

.btn-remove-attachment:hover {
  background-color: colors.$white;
}

.spacing {
  padding-bottom: 1em;
}

.file-label {
  margin-top: 0;
}

.file-upload {
  height: 340px;
}

.error {
  border: 1px solid colors.$red !important;
}

label.form-label {
  margin-top: 0;
}

.empty-attachments {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
