@import "~@elm/elm-styleguide-ui/src/styles/cardinal-colors";

#upload-button-container {
  padding-top: 4em;
}

.attachment {
  padding: 0.5em;
  border-radius: 0.25rem;
  margin-bottom: 0.5em;
  font-size: small;
  word-break: break-all;
}
.attachment-label {
  padding: 9px 0;
}

.attachment-download {
  cursor: pointer;
}

.attachment-container {
  background-color: $grey1;
  border-radius: 0.25rem;
  border: 1px dashed $grey2;
  padding: 1em;
  height: 260px;
  overflow: auto;
}

.btn-remove-attachment {
  padding: 0em;
}

.btn-remove-attachment:hover {
  background-color: $cardinal-white;
}

.spacing {
  padding-bottom: 1em;
}

.file-label {
  margin-top: 0;
}

.file-upload {
  height: 260px;
}

.error {
  border-color: $cardinal-red;
}

label.form-label {
  margin-top: 0;
}
