@import "~@elm/elm-styleguide-ui/src/styles/cardinal-colors";

#upload-button-container {
  padding-top: 2em;
}

.attachment {
  padding: 0.5em;
  margin-bottom: 0.5em;
  background-color: $cardinal-grey;
  border-radius: 0.25rem;
  font-size: small;
  word-break: break-all;
}

.attachment-download {
  cursor: pointer;
}

.btn-remove-attachment {
  padding: 0em;
}

.btn-remove-attachment:hover {
  background-color: $cardinal-white;
}

.upload-container {
  padding: 1em;
}

.upload-file-div {
  height: 300px;
  overflow: auto;
}

.error {
  border-color: $cardinal-red;
}
