<form [formGroup]="formGroup">

  <label class="elm-h2 attachment-label ">
    Attachments
  </label>
    <div class="row">
      <div class="col-6 file-upload">
        <!-- ATTACHMENT TYPE -->
        <label for="attachment-type-input"
               class="fal-label">
          Document Type
        </label>
        <ng-select id="attachment-type-input"
                   formControlName="attachmentType"
                   class="spacing"
                   [items]="DOCUMENT_TYPE_OPTIONS"
                   [searchable]="true"
                   placeholder="Select One...."
                   [ngClass]="{ 'disabled': isDisabled }">
        </ng-select>

        <!-- FILE CHOOSER -->
        <label for="file-chooser-input"
               class="fal-label file-label ">
          File
        </label>
        <app-fal-file-input id="file-chooser-input"
                            formControlName="file"
                            accept=".eml, .doc, .jpg, .pdf, .xlsx"
                            [isDisabled]="isDisabled">
        </app-fal-file-input>
        <div class="form-label fieldLabel1">
          Maximum file size 50MB
        </div>

        <!-- UPLOAD BUTTON -->
        <div id="upload-button-container">
          <elm-button buttonType="button"
                      buttonStyle="primary"
                      width="100%"
                      [isDisabled]="!(formGroup.controls.file.value && formGroup.controls.attachmentType.value)"
                      (buttonClick)="uploadButtonClick()">
            Upload Attachment
          </elm-button>
        </div>
      </div>

      <div class="col-6">
        <label class="fal-label">
          Uploaded Attachments
        </label>
        <!-- ATTACHMENTS LOOP-->
        <div class="attachment-container upload-file-div" [ngClass]="(!externalAttachment && (!pristine || formGroup.dirty )) ? 'error' : ''">
          <div *ngIf="numberOfAttachments === 0"
               class="d-flex empty-attachments">
            Uploaded attachments will appear here
          </div>
          <div *ngFor="let attachment of attachments; index as i">
            <div *ngIf="attachment.action !== 'DELETE'"
                 class="attachment form-control d-flex align-items-center justify-content-between"
                 [ngClass]="{ 'attachment-download': attachment.url }">

              <!-- ATTACHMENT - ICON -->
              <div class="material-icons">file_present</div>

              <!-- ATTACHMENT - CONTENT -->
              <div class=" flex-grow-1 p-1" (click)="downloadAttachment(i)">
                {{attachment.file.name}}&nbsp;({{attachment.type}})
              </div>

              <!-- ATTACHMENT - REMOVE -->
              <input *ngIf="!isDisabled" type="button"
                     value="close"
                     class="material-icons btn btn-remove-attachment"
                     (click)="removeAttachment(i)"
              />
            </div>
          </div>
        </div>
        <small class="error-text"
               *ngIf="(!externalAttachment && (!pristine || formGroup.dirty ))">
          External Invoice is required
        </small>
      </div>

    </div>
</form>
