
 <div class="row p-3" [formGroup]="_formGroup">
    <div *ngIf="showShippingItemField" class="col-md-12 mb-30">
      <label for="shippingPoint"
             class="shippingPoint">
        Shipping Point(optional)
      </label>
      <ng-select id="shippingPoint"
                 [items]="shippingPointItems"
                 formControlName="shippingPoint"
                >
      </ng-select>
      <elm-input-subtext *ngIf="_formGroup.get('shippingPoint')?.errors?.required"
                         [isError]="true">
        Shipping point is required
      </elm-input-subtext>
    </div>
    <div class="col-md-12">
        <label for="country"
               class="country">
          Country
        </label>
       <!-- TODO: Temporary for FAL-750. Replace when edit capability is implemented -->
        <input type="text"
               id="country"
               formControlName="country"
               class="form-control"
               [ngClass]="{'error': !_formGroup.get('country')?.value && validateField}"
        />
        <elm-input-subtext *ngIf="!_formGroup.get('country')?.value && validateField"
                           class="input-error"
                         [isError]="true">
        Country is missing
      </elm-input-subtext>
      </div>
      <div class="col-md-12">
        <label for="name"
               class="name">
          Name
        </label>
        <elm-text-input id="name"
                        formControlName="name">
        </elm-text-input>
      </div>

      <div class="col-md-12">
        <label for="streetAddress"
               class="streetAddress">
            Street Address
        </label>
        <elm-text-input id="streetAddress"
                        formControlName="streetAddress">
        </elm-text-input>
      </div>
      <div class="col-md-12">
        <label for="streetAddress2"
               class="streetAddress2">
            Street Address 2(optional)
        </label>
        <elm-text-input id="streetAddress2"
                        formControlName="streetAddress2">
        </elm-text-input>
      </div>

      <div class="col">
        <label for="city"
               class="city">
            City
        </label>
        <elm-text-input id="city"
                        formControlName="city">
        </elm-text-input>
      </div>
      <div class="col">
        <label for="state"
               class="state">
            State/Province
        </label>
        <elm-text-input id="state"
                        formControlName="state">
        </elm-text-input>
      </div>

      <div class="col">
        <label for="zipCode"
               class="zipCode">
            Zip/Postal Code
        </label>
        <!-- TODO: Temporary for FAL-750. Replace when edit capability is implemented -->
        <input type="text"
               id="zipCode"
               formControlName="zipCode"
               class="form-control"
               [ngClass]="{'error': !_formGroup.get('zipCode')?.value && validateField, 'margin-spacing': !validateField}"
        />
        <elm-input-subtext *ngIf="!_formGroup.get('zipCode')?.value && validateField"
                           class="input-error"
                         [isError]="true">
        Zip/Postal Code is missing
      </elm-input-subtext>
      </div>

</div>
