
 <div class="row p-3" [formGroup]="_formGroup">
    <div *ngIf="showShippingItemField" class="col-md-12 mb-30">
      <label for="shippingPoint"
             class="shippingPoint">
        {{ addressType === 'origin' ? 'Shipping Point' : 'Location'}}
      </label>
      <ng-select id="shippingPoint"
                 [items]="addressType === 'origin' || (addressType === 'destination' && destinationType == 'DC') ? masterDataShippingPoints : shippingPointItems"
                 formControlName="shippingPoint"
                 (change)="onShippingPointChange($event)">
      </ng-select>
      <elm-input-subtext *ngIf="_formGroup.get('shippingPoint')?.errors?.required"
                         [isError]="true">
        {{ addressType === 'origin' ? 'Shipping Point' : 'Location'}} is required
      </elm-input-subtext>
    </div>
    <input id="name2" formControlName="name2" type="hidden" />
    <input id="idCode" formControlName="idCode" type="hidden" />
    <div class="col-md-12">
        <label for="country"
               class="country">
          Country
        </label>
       <!-- TODO: Temporary for FAL-750. Replace when edit capability is implemented -->
        <elm-text-input id="country" 
                        formControlName="country" [addSpacing]="!_formGroup.get('country')?.value && validateField">
        </elm-text-input>
        <elm-input-subtext *ngIf="!_formGroup.get('country')?.value && validateField"
                           class="input-error"
                         [isError]="true">
        Country is missing
      </elm-input-subtext>
      </div>
      <div class="col-md-12">
        <label for="name"
               class="name">
          Name
        </label>
        <elm-text-input id="name"
                        formControlName="name" [addSpacing]="false">
        </elm-text-input>
      </div>

      <div class="col-md-12">
        <label for="streetAddress"
               class="streetAddress">
            Street Address
        </label>
        <elm-text-input id="streetAddress"
                        formControlName="streetAddress" [addSpacing]="false">
        </elm-text-input>
      </div>
      <div class="col-md-12">
        <label for="streetAddress2"
               class="streetAddress2">
            Street Address 2(optional)
        </label>
        <elm-text-input id="streetAddress2"
                        formControlName="streetAddress2" [addSpacing]="false">
        </elm-text-input >
      </div>

      <div class="col">
        <label for="city"
               class="city" >
            City
        </label>
        <elm-text-input id="city"
                        formControlName="city" [addSpacing]="false">
        </elm-text-input>
      </div>
      <div class="col">
        <label for="state"
               class="state">
            State/Province
        </label>
        <elm-text-input id="state"
                        formControlName="state" [addSpacing]="false">
        </elm-text-input>
      </div>

      <div class="col">
        <label for="zipCode"
               class="zipCode">
            Zip/Postal Code
        </label>
        <!-- TODO: Temporary for FAL-750. Replace when edit capability is implemented -->
        <elm-text-input id="zipCode" formControlName="zipCode"
          [addSpacing]="!_formGroup.get('zipCode')?.value && validateField">
        </elm-text-input>
        <elm-input-subtext *ngIf="!_formGroup.get('zipCode')?.value && validateField"
                           class="input-error"
                         [isError]="true">
        Zip/Postal Code is missing
      </elm-input-subtext>
      </div>

</div>
