<div [formGroup]="formGroup">
    <span class="headline2 fw-bold">Customer Revenue</span>
    <div class="row mt-3 mb-1 mx-0 fw-bold">
        <div class="col-2 px-0">Revenue Breakdown</div>
        <div class="col-2 px-0">Total Revenue Amount</div>
    </div>
    <div class="row mt-0 mb-1 mx-0">
        <div class="col-2 px-0"></div>
        <div class="col-2 px-0">
            <app-fal-currency-input
                [isError]="totalRevenueAmountError"
                formControlName="totalRevenueAmount"
                [isDisabled]="true">
            </app-fal-currency-input>
        </div>
    </div>

    <div formArrayName="invoiceBAXCustomerRevenues">
        <div class="row my-3 mx-0 invoice-customer-revenue-header">
            <div class="col">Customer Category</div>
            <div class="col">Revenue</div>
            <div class="col">Rate</div>
            <div class="col">Type</div>
            <div class="col">Quantity</div>
            <!-- <div class="col"></div> -->
            <div class="col">Total</div>
        </div>
        <ng-container *ngIf="baxCustomerRevenueControls && baxCustomerRevenueControls.length > 0">
            <div *ngFor="let customerRevenue of baxCustomerRevenueControls; index as i"
                class="row my-3 mx-0 invoice-customer-revenue-row"
                [formGroupName]="i">
                <div class="col">
                    <elm-text-input formControlName="customerCategory"></elm-text-input>
                </div>
                <div class="col">
                    <elm-text-input formControlName="revenueDescription"></elm-text-input>
                </div>
                <div class="col">
                    <elm-text-input formControlName="rate"></elm-text-input>
                </div>
                <div class="col">
                    <elm-text-input formControlName="rateType"></elm-text-input>
                </div>
                <div class="col">
                    <elm-text-input formControlName="quantity"></elm-text-input>
                </div>
                <!-- <div class="col"></div> -->
                <div class="col">
                    <app-fal-currency-input
                        [isError]="customerRevenue.get('lineItemTotal')?.value === 0"
                        formControlName="lineItemTotal"
                        [isDisabled]="true">
                    </app-fal-currency-input>
                    <elm-input-subtext *ngIf="customerRevenue.get('lineItemTotal')?.value === 0"
                        [isError]="true">
                        Customer Revenue Amount cannot be zero
                    </elm-input-subtext>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="invoice-customer-revenue-total-div mt-5 p-3 offset-md-9 border-radius-5">
        <div class="row">
          <div class="row d-flex justify-content-between">
            <span class="px-3 col-md-8 text-left fw-bold">BAX Total:</span>
            <span class="col-md-4 text-right fw-bold px-0">{{totalBAXAmount | currency}}</span>
          </div>
        </div>
    </div>
</div>