#fileInput::-webkit-file-upload-button {
    float: right;
    margin-right: -13px;
    background-color: #407aa0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    opacity: 1;
    padding: 8px 12px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
 }

 #fileInput:disabled::-webkit-file-upload-button {
    background-color: #e5e4e4 !important;
    color: #27251f !important;
    opacity: .65;
 }