<div mat-dialog-title class="d-flex align-items-center" xmlns="http://www.w3.org/1999/html">
  <span class="headline2">{{title}}</span>
  <elm-close-button class="dialog-close-button" mat-dialog-close></elm-close-button>
</div>
<form [formGroup]="form">
  <div mat-dialog-content class="modal-height">
    <div class="elm-h3" innerHTML="{{innerHtmlMessage}}"></div>
    <!--<label for="newStatus" class="fal-label">
      New Status
    </label>-->

    <ng-select id="newStatusField"
               formControlName="newStatus"
               [items]="allowedStatusesOptions"
               [clearable]="false"
               appendTo="body"
               bindLabel="label"
               bindValue="value"
               placeholder="Select One...">
    </ng-select>

    <div>
      <label for="reasonInput"
             class="fal-label">
        Reason
      </label>
      <elm-textarea-input id="reasonInput"
                          formControlName="comment"
                          [addSpacing]="true"
                          type>
      </elm-textarea-input>
      <elm-input-subtext *ngIf="reasonControl.invalid ?? false"
                         class="input-error"
                         [isError]="true">
        Reason is missing
      </elm-input-subtext>
    </div>
  </div>

  <div mat-dialog-actions class="float-right">
    <elm-button buttonStyle="secondary"
                class="ms-auto"
                [mat-dialog-close]="undefined"
                id="cancel"
                aria-label="cancel">
      {{cancelButtonText}}
    </elm-button>
    <elm-button [buttonStyle]="confirmButtonStyle"
                class="ms-3"
                (buttonClick)="onConfirmButtonClick()"
                id="confirm"
                aria-label="confirm">
      {{confirmButtonText}}
    </elm-button>
  </div>

</form>
