<div class="px-3">
  <div class="col-lg-6">

    <div class="row">
      <div class="col">
        <label>Total Gross Weight (lb)</label>

      </div>
      <div class="col">
        <label>Total Volume (ft<sup>3</sup>)</label>

      </div>
      <div class="col">
        <label>Total Pallet Ct (plt)</label>

      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <input type="text=" [value]="totalGrossWeight" [disabled]="true" class="form-control col-1" matInput
               [(ngModel)]="totalGrossWeight">
      </div>
      <div class="col">
        <input type="text=" [value]="totalVolume" [disabled]="true" class="form-control col-1" matInput
               [(ngModel)]="totalVolume">
      </div>
      <div class="col">
        <input type="text=" [value]="totalPalletCount" [disabled]="true" class="form-control col-1" matInput
               [(ngModel)]="totalPalletCount">
      </div>
    </div>
  </div>

  <elm-section-header [sectionTitle]="freightOrderTitle">
  </elm-section-header>

  <table #templateTable summary="freightOrders" mat-table [dataSource]="freightOrders"
         class="col-md-12" [ngClass]="freightOrders && freightOrders.length > 0 ? '' : 'hide'">

    <ng-container matColumnDef="freightOrderNumber">
      <th id="freightOrderNumber" mat-header-cell *matHeaderCellDef> Freight Order</th>
      <td mat-cell class="width-140" [ngClass]="{ 'missing-error' : !freightOrder.freightOrderId }"
          *matCellDef="let freightOrder"> {{freightOrder.freightOrderId || 'Missing'}}</td>
    </ng-container>

    <ng-container matColumnDef="tmsLoadId">
      <th id="tmsLoadId" mat-header-cell *matHeaderCellDef> TMS Load ID</th>
      <td mat-cell class="width-110" *matCellDef="let freightOrder"> {{freightOrder.tmsLoadID}}</td>
    </ng-container>

    <ng-container matColumnDef="shippingPoint">
      <th id="shippingPoint" mat-header-cell *matHeaderCellDef> Ship Pt</th>
      <td mat-cell class="width-80" [ngClass]="{ 'missing-error' : !freightOrder.shippingPoint }"
          *matCellDef="let freightOrder"> {{freightOrder.shippingPoint || 'Missing'}}</td>
    </ng-container>

    <ng-container matColumnDef="warehouse">
      <th id="warehouse" mat-header-cell *matHeaderCellDef> Warehouse</th>
      <td mat-cell class="width-90" [ngClass]="{ 'missing-error' : !freightOrder.warehouse }"
          *matCellDef="let freightOrder"> {{freightOrder.warehouse || 'Missing'}}</td>
    </ng-container>

    <ng-container matColumnDef="customerCategory">
      <th id="customerCategory" mat-header-cell *matHeaderCellDef> Cust Catg</th>
      <td mat-cell class="width-100" [ngClass]="{ 'missing-error' : !freightOrder.customerCategory }"
          *matCellDef="let freightOrder"> {{freightOrder.customerCategory || 'Missing'}}</td>
    </ng-container>

    <ng-container matColumnDef="sequence">
      <th id="sequence" mat-header-cell *matHeaderCellDef> Seq</th>
      <td mat-cell class="width-60" [ngClass]="{ 'missing-error' : !freightOrder.sequenceNumber }"
          *matCellDef="let freightOrder"> {{freightOrder.sequenceNumber || 'Missing'}}</td>
    </ng-container>

    <ng-container matColumnDef="stopId">
      <th id="stopId" mat-header-cell *matHeaderCellDef> Stop ID</th>
      <td mat-cell class="width-90" *matCellDef="let freightOrder"> {{freightOrder.stopId}}</td>
    </ng-container>

    <ng-container matColumnDef="stopReferenceID">
      <th id="stopReferenceID" mat-header-cell *matHeaderCellDef> Stop Ref</th>
      <td mat-cell class="width-90" [ngClass]="{ 'missing-error' : !freightOrder.stopReferenceId }"
          *matCellDef="let freightOrder"> {{freightOrder.stopReferenceId || 'Missing'}}</td>
    </ng-container>

    <ng-container matColumnDef="destination">
      <th id="destination" class="width-150" mat-header-cell *matHeaderCellDef> Destination</th>
      <td style="padding-right: 5px;" mat-cell *matCellDef="let freightOrder">
        {{freightOrder.destination.address}}
        {{freightOrder.destination.address2}}
        {{freightOrder.destination.city}},
        {{freightOrder.destination.state}}
        {{freightOrder.destination.country}} {{freightOrder.destination.zipCode}}
      </td>
    </ng-container>

    <ng-container matColumnDef="grossWeight">
      <th id="grossWeight" class="width-90" mat-header-cell *matHeaderCellDef>Gross Weight</th>
      <td class="padding-right-5" mat-cell *matCellDef="let freightOrder">
        <input type="text" [value]="freightOrder.weightGross.value"
               [ngClass]="{ 'error' : freightOrder.weightGross.value != 0 && !freightOrder.weightGross.value }"
               [disabled]="freightOrder.isEdit" class="form-control col-11" matInput>
        <elm-input-subtext *ngIf="freightOrder.weightGross.value != 0 && !freightOrder.weightGross.value"
                           class="input-error"
                           [isError]="true">
          Gross weight is missing
        </elm-input-subtext>
      </td>
    </ng-container>

    <ng-container matColumnDef="volume">
      <th id="volume" class="width-90" mat-header-cell *matHeaderCellDef>Volume</th>
      <td class="padding-right-5" mat-cell *matCellDef="let freightOrder">
        <input type="text=" [value]="freightOrder.volumeGross.value" [disabled]="freightOrder.isEdit"
               class="form-control col-11" matInput [(ngModel)]="freightOrder.volumeGross.value">
      </td>
    </ng-container>

    <ng-container matColumnDef="pallets">
      <th id="pallets" class="width-90" mat-header-cell *matHeaderCellDef>Pallets</th>
      <td class="padding-right-5" mat-cell *matCellDef="let freightOrder">
        <input type="text=" [value]="freightOrder.palletCount" [disabled]="freightOrder.isEdit"
               class="form-control col-11" matInput>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th id="actions" class="width-90" mat-header-cell *matHeaderCellDef> Action</th>
      <td class="padding-left-5" mat-cell *matCellDef="let freightOrder">
        <span *ngIf="freightOrder.isEdit ; else submit" role="button"
              class="disabled material-icons material-icons-outlined">
          edit
        </span>
        <span *ngIf="freightOrder.isEdit" role="button" class="disabled material-icons material-icons-outlined">
          delete
        </span>
        <ng-template #submit>
          <span role="button" class="material-icons material-icons-outlined">
            done
          </span>
          <span role="button" class="material-icons material-icons-outlined">
            block
          </span>
        </ng-template>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <p class="text-center" *ngIf="freightOrders.length === 0">You have no freight orders available</p>

</div>
