.mat-header-cell {
    font-size: inherit;
    color: inherit;
}

.disabled {
    opacity: 0.5;
    cursor: no-drop;
    pointer-events: none;
}

.hide {
    display: none;
}

tr.mat-row {
    height: 54px;
}

td.mat-cell, th.mat-header-cell{
    border-bottom-color: #dedcd5;
}

th.mat-header-cell {
    background-color: #f6f6f6;
}
