<div class="page-header">
  <div>
    <div class="headline1">Master Data</div>
  </div>
</div>
<div>
  <elm-card>
    <elm-section-header sectionTitle="Master Data">
      <div class='col-12 d-flex justify-content-end align-items-center'>
        <div *ngIf="hasMasterDataUpload">
          <elm-button id="master-data-upload-button"
                      buttonStyle="primary"
                      (buttonClick)="openFileUploadModal()"
                      class="me-1">
            <span class="material-icons  me-2">upload</span>
            UPLOAD FILE
          </elm-button>
        </div>
      </div>
    </elm-section-header>
    <elm-data-table [data]="masterDataRows"
                    [headers]="headers"
                    [showPagination]="false"
                    (buttonCLickEvent)="downloadButtonClicked($event)">
    </elm-data-table>
  </elm-card>
</div>
