<div [formGroup]="_formGroup">
  <!--Invoice amount div starts-->
  <span class="headline2">Invoice amount</span>
  <div class="invoice-amount-div row px-1">
    <!-- INVOICE AMOUNT -->
    <div class="col-2">
      <label for="invoice-amount-input" class="fal-label">
        Invoice Net Amount
      </label>
      <app-fal-currency-input id="invoice-amount-input"
                              formControlName="amountOfInvoice"
                              [isDisabled]="readOnlyForm"
                              [isError]="!_formGroup.get('amountOfInvoice')?.value"
                              *ngIf="isPrepaid"
      >
      </app-fal-currency-input>
      <input  class="form-control input_na" disabled type="text" value="N/A" *ngIf="!isPrepaid">

      <small class="error-text col-2" *ngIf="!_formGroup.get('amountOfInvoice')?.value && isPrepaid" [ngClass]="{ 'mt-3' : true }">
        Invoice Net Amount is missing
      </small>
    </div>

    <!-- CURRENCY -->
    <div class="col-2 px-4 currency-div">
      <label for="currency-input" class="fal-label">
        Currency
      </label>
      <app-fal-radio-input id="currency-input"
                           formControlName="currency"
                           [options]="currencyOptions"
                           [isDisabled]="readOnlyForm"
      >
      </app-fal-radio-input>
    </div>

    <div *ngIf="hasMileage" class="col-2">
      <label for="mileage" class="fal-label">
        Mileage
      </label>
      <input id="mileage"
             class="form-control"
             formControlName="mileage"
             [attr.disabled]="readOnlyForm? '': null"
      />

    </div>

    <!-- OVERRIDE STANDARD PAYMENT TERMS -->
    <div class="col-4 offset-md-2 d-flex" [formGroup]="overridePaymentTermsFormGroup">
      <label for="override-stp-checkbox"
             class="fal-label override-stp-checkbox-div">
        <input id="override-stp-checkbox"
               type="checkbox"
               formControlName="isPaymentOverrideSelected"
               [attr.disabled]="readOnlyForm? '': null"
        />
        Override Standard Payment Terms
      </label>
      <div class="payment-terms-div">
        <label class="fal-label">Payment terms</label>
        <ng-select id="paymentTerms"
                   formControlName="paymentTerms"
                   [items]="paymentTermOptions"
                   bindLabel="display"
                   bindValue="value"
                   [readonly]="readOnlyForm || !overridePaymentTermsFormGroup?.get('isPaymentOverrideSelected')?.value"
                   placeholder="Select One...">
        </ng-select>
      </div>

    </div>

  </div>
  <!--Invoice amount div ends-->


  <!--new change starts--> <!--cost breakdown div starts-->
  <div class="cost-breakdown-div my-3" formArrayName="costBreakdownItems">
    <div class="col-12">Cost breakdown</div>
    <div class="row my-3 mx-0 cost-breakdown-item-header">
      <div class="col-3">Charge</div>
      <div class="col-1">Rate Source</div>
      <div class="col-2">Rate</div>
      <div class="col-2">Type</div>
      <div class="col-2">Quantity</div>
      <div class="col-2">Total</div>
    </div>
    <ng-container *ngIf="costBreakdownItemsControls && costBreakdownItemsControls.length > 0 && isPrepaid">
      <div *ngFor="let _ of costBreakdownItemsControls; index as i"
           class="row"
           [ngClass]="{ 'cost-breakdown-item-row' : _.get('message')?.value !== 'NOT FOUND' }"
           [formGroupName]="i">

        <!-- Cost breakdown item- Charge -->
        <div class="col-3">
          <input type="text"
                 class="form-control"
                 formControlName="charge"
                 maxlength="4"
                 [attr.disabled]="readOnlyForm ? '': null"
                 [ngClass]="{ 'error-div' : _.get('message')?.value === 'NOT FOUND' }"
          />
          <small class="error-text"
                 *ngIf="_.get('message')?.value === 'NOT FOUND'">
            Charge not found
          </small>
        </div>

        <div class="col-1">
          <input type="text"
                 class="form-control"
                 formControlName="rateSource"
                 [attr.disabled]="readOnlyForm ? '': null"
          />
        </div>

        <!-- Cost breakdown item - Rate -->
        <div class="col-2">
          <input type="text"
                 class="form-control text-right"
                 formControlName="rate"
                 [attr.disabled]="readOnlyForm ? '': null"
          />
        </div>

        <!-- Cost breakdown item - Type -->
        <div class="col-2">
          <input type="text"
                 class="form-control"
                 formControlName="type"
                 [attr.disabled]="readOnlyForm ? '' : null"
          />
        </div>

        <!-- Cost breakdown item - Quantity -->
        <div class="col-2">
          <input type="text"
                 class="form-control"
                 formControlName="quantity"
                 maxlength="10"
                 [attr.disabled]="readOnlyForm ? '': null"
          />
        </div>

        <!-- Cost breakdown item - totalAmount -->
        <div class="col-2">
          <app-fal-currency-input
            [isError]="_.get('charge')?.value === 'Base Rate' && _.get('totalAmount')?.value === 0"
            formControlName="totalAmount"
            [isDisabled]="readOnlyForm"
          >

          </app-fal-currency-input>

          <small class="error-text"
                 *ngIf="_.get('charge')?.value === 'Base Rate' && _.get('totalAmount')?.value === 0">
            Base Rate Amount is required
          </small>
        </div>

      </div>
    </ng-container>

    <div [class.error-div]="!isValidCostBreakdownAmount"
         class="border-radius-5 cost-breakdown-total-div mt-5 mb-2 p-3 offset-md-9"
         *ngIf="costBreakdownItemsControls && costBreakdownItemsControls.length > 0 && isPrepaid">
      <div class="row">
        <div class="row d-flex justify-content-between">
          <span class="px-3 col-md-8 text-left text-bold">Cost Breakdown Total:</span>
          <span class="col-md-4 text-right text-bold p-0">{{ costBreakdownTotal | currency}}</span>
        </div>
      </div>
    </div>
    <small class="error-text col-3 offset-md-9 mt-3" *ngIf="!isValidCostBreakdownAmount">
      Cost Breakdown Total must equal Invoice Net Amount
    </small>
  </div>

  <div class="no-results" *ngIf="!isPrepaid">
    No rates available
  </div>
</div>

