<div [formGroup]="_formGroup">
  <div class="row px-1 justify-content-between">
    <!--Invoice amount div starts-->
    <div class="col-3 headline2">
      Invoice Amount
      <span *ngIf="!readOnlyForm">(Edit Mode)</span>
       <mat-icon *ngIf="isSpotQuote" class="error-text warning-icon">warning</mat-icon>
       <span *ngIf="isSpotQuote"  class="error-text">(Spot Quote)</span>
    </div>
    <!-- Re-rate Invoice -->
    <div class="col-2 d-flex justify-content-end re-rate-button">
      <elm-button id="re-rate-button"
                  buttonType="button"
                  buttonStyle="primary"
                  class="flex-shrink-1"
                  [isDisabled]="readOnlyForm || isMakingRateCall || !!isSpotQuote"
                  (buttonClick)="rateEngineCall.emit('')">
        {{isMakingRateCall ? 'Rating...' : 'Re-Rate'}}
      </elm-button>
    </div>
  </div>
  <div class="invoice-amount-div row px-1">
    <!-- INVOICE AMOUNT -->
    <div class="col-2">
      <label for="invoice-amount-input" class="fal-label">
        Invoice Net Amount
      </label>
      <app-fal-currency-input *ngIf="!isMakingRateCall && isPrepaid"
                              id="invoice-amount-input"
                              formControlName="amountOfInvoice"
                              [isDisabled]="true"
                              [isError]="!_formGroup.get('amountOfInvoice')?.value"
      ></app-fal-currency-input>
      <input *ngIf="isMakingRateCall || !isPrepaid"
             class="form-control input_na"
             [ngClass]="{'attention-text':isMakingRateCall}"
             disabled
             type="text"
             [value]="isMakingRateCall ? 'Rating...' : 'N/A'"
      />

      <small class="error-text col-2" *ngIf="!_formGroup.get('amountOfInvoice')?.value && isPrepaid"
             [ngClass]="{ 'mt-3' : true }">
        Invoice Net Amount is missing
      </small>
    </div>

    <!-- CURRENCY -->
    <div class="col-2 px-4 currency-div">
      <label for="currency-input" class="fal-label">
        Currency
      </label>
      <elm-radio-input id="currency-input"
                       orientation="horizontal"
                       formControlName="currency"
                       [options]="currencyOptions"
                       [ngClass]="{'radio-dev-disabled': true}"
                       [addSpacing]="false">
      </elm-radio-input>
    </div>

    <div *ngIf="hasMileage" class="col-2">
      <label for="mileage" class="fal-label">
        Mileage
      </label>
      <elm-text-input id="mileage" formControlName="mileage"></elm-text-input>

    </div>

    <!-- OVERRIDE STANDARD PAYMENT TERMS -->
    <div class="col-4 offset-md-2 d-flex" [formGroup]="overridePaymentTermsFormGroup">
      <elm-checkbox-input id="override-stp-checkbox"
                          orientation="horizontal"
                          formArrayName="isPaymentOverrideSelected"
                          checkboxStyle="checkbox"
                          [addSpacing]="false"
                          [options]="overridePaymentTermsOptions"
                          [attr.disabled]="true"></elm-checkbox-input>
      <div class="payment-terms-div">
        <label class="fal-label">Payment Terms</label>
        <ng-select id="paymentTerms"
                   formControlName="paymentTerms"
                   [items]="paymentTermOptions"
                   bindLabel="display"
                   bindValue="value"
                   (change)="paymentTermSelected($event)"
                   [readonly]="readOnlyForm || isPaymentOverrideSelected.length === 0"
                   placeholder="Select One...">
        </ng-select>
        <small class="error-text"
               *ngIf="isPaymentOverrideSelected.length > 0 && !paymentTermValid">
          Select the overriding payment terms
        </small>
      </div>

    </div>

  </div>
  <!--Invoice amount div ends-->


  <!--new change starts--> <!--cost breakdown div starts-->
  <div class="cost-breakdown-div my-3" formArrayName="costBreakdownItems">
    <div class="col-12">Cost Breakdown</div>
    <div class="row my-3 mx-0 pending-line-item-header">
      <div class="col-3">Charge</div>
      <div class="col-1">Attachment</div>
      <div class="col-1">Rate Source</div>
      <div class="col-1">Rate</div>
      <div class="col-1">Type</div>
      <div class="col-1">Quantity</div>
      <div class="col-4 row">
        <div [ngClass]="{'col-11': readOnlyForm,
                       'col-5': !readOnlyForm}">
          Total
        </div>
        <div *ngIf="!readOnlyForm" class="col-6">Actions</div>
      </div>
    </div>
    <ng-container *ngIf="costBreakdownItemsControls && costBreakdownItemsControls.length > 0 && isPrepaid">
      <div *ngFor="let _ of costBreakdownItemsControls; index as i"
           class="row my-3 mx-0"
           [ngClass]="{ 'cost-breakdown-item-row' : _.get('message')?.value !== 'NOT FOUND' }"
           [formGroupName]="i">


        <!-- Cost breakdown item- Charge -->
        <ng-container *ngIf="_.value.requestStatus !== 'Deleted'">
          <div class="col-3">
            <input id="cost-line-item-charge"
                   type="text"
                   class="form-control"
                   formControlName="charge"
                   [attr.disabled]="true"
                   [ngClass]="{ 'error-div' : _.get('message')?.value === 'NOT FOUND' }"
            />
            <small class="error-text"
                   *ngIf="_.get('message')?.value === 'NOT FOUND'">
              Charge not found
            </small>
          </div>

          <!-- Cost Line Item - Attachments -->
          <div class="col-1">
            <elm-button id="link-button-cost-breakdown"
                        buttonType="button"
                        buttonStyle="text"
                        class="flex-shrink-1"
                        *ngIf="_.get('attachment')?.value?.url && _.get('attachment')?.value?.url !== 'pending' && _.get('attachment')?.value?.url !== 'no-file'"
                        (click)="downloadAttachment(_.get('attachment')?.value?.url)">
              <div class="material-icons download-icon"
                   (click)="downloadAttachment(_.get('attachment')?.value?.url)">file_download
              </div>
              Download
            </elm-button>
            <div *ngIf=" _.get('attachment')?.value?.url === 'pending'"
                 class="fake-form-control">
              Pending Upload
            </div>
          </div>
          <div class="col-1">
            <input id="cost-line-item-rate-source"
                   type="text"
                   class="form-control"
                   formControlName="rateSource"
                   [attr.disabled]="true"
            />
          </div>

          <!-- Cost breakdown item - Rate -->
          <div class="col-1">
            <input id="cost-line-item-rate"
                   type="text"
                   class="form-control text-right"
                   formControlName="rate"
                   [attr.disabled]="true"
            />
          </div>

          <!-- Cost breakdown item - Type -->
          <div class="col-1">
            <input id="cost-line-item-type"
                   type="text"
                   class="form-control"
                   formControlName="type"
                   [attr.disabled]="true"
            />
          </div>

          <!-- Cost breakdown item - Quantity -->
          <div class="col-1">
            <input id="cost-line-item-quantity"
                   type="text"
                   class="form-control"
                   formControlName="quantity"
                   maxlength="10"
                   [ngClass]="{ 'background_color_quantity': _.value.variables.length > 0 && editableField(_.value) }"
                   [attr.disabled]="false"
            />
          </div>

          <div class="col-4 row">
            <!-- Cost breakdown item - totalAmount -->
            <div [ngClass]="{'col-11': readOnlyForm,
                           'col-5': !readOnlyForm}">
              <ng-template [ngIf]="!isMakingRateCall || !_.get('toBeRated')?.value">
                <app-fal-currency-input
                  [isError]="_.get('totalAmount')?.value === 0"
                  formControlName="totalAmount"
                  [ngClass]="{ 'background_color_currency': _.value.charge === 'OTHER' }"
                  [isDisabled]="true">
                </app-fal-currency-input>
                <small class="error-text"
                       *ngIf="_.get('charge')?.value === 'Base Rate' && _.get('totalAmount')?.value === 0">
                  Base Rate Amount is required
                </small>
                <small class="error-text"
                       *ngIf="_.get('charge')?.value !== 'Base Rate' && _.get('totalAmount')?.value === 0">
                  Charge Rate not Found
                </small>
              </ng-template>
              <input *ngIf="isMakingRateCall && !!_.get('toBeRated')?.value"
                     class="form-control input_na"
                     disabled
                     type="text"
                     value="Rating..."
              />
            </div>

            <div class="col-6" *ngIf="!readOnlyForm">
              <div
                *ngIf="_.value.entrySource === 'FAL'
                || (_.value.entrySource === 'CP' && _.value.rateSource === 'Contract')
                || (_.value.lineItemType === 'ACCESSORIAL' && _.value.accessorialCode !== 'FUE' && _.value.accessorialCode !== '405')">
                <div *ngIf="_.value.variables?.length > 0 || _.value.charge === 'OTHER'"
                     class="material-icons edit-icon"
                     (click)="onEditCostLineItem(_, costBreakdownItemsControls)">edit
                </div>
                <div *ngIf="_.value.variables?.length === 0 && _.value.charge !== 'OTHER'"
                     class="edit-icon-invisible"></div>
                <div class="material-icons edit-icon" (click)="onDeleteCostLineItem(_, i)">delete</div>
              </div>
              <div
                *ngIf="!(_.value.entrySource === 'FAL' || (_.value.entrySource === 'CP' && _.value.rateSource === 'Contract'))">
              </div>
            </div>

            <div class="col-1 expand-button"
                 *ngIf="_.value.entrySource === 'FAL' || _.value.entrySource === 'CP'">
              <span *ngIf="!_.value.expanded"
                    role="button"
                    class="material-icons"
                    (click)="onExpandCostLineItem(_.value)">
                expand_more
              </span>
              <span *ngIf="_.value.expanded"
                    role="button"
                    class="material-icons"
                    (click)="onExpandCostLineItem(_.value)">
                expand_less
              </span>
            </div>
          </div>
          <app-fal-accessorial-detail [lineItem]="_"></app-fal-accessorial-detail>
        </ng-container>
      </div>
    </ng-container>
    <div class="no-results" *ngIf="costBreakdownItems && costBreakdownItems.length == 0">
      No Cost Breakdown Charges
    </div>
    <elm-button class="add-new-line-item-button"
                buttonType="button"
                buttonStyle="text"
                id="add-new-line-item-button"
                [isDisabled]="readOnlyForm"
                (buttonClick)="onAddChargeButtonClick()">
      <u>+ Add New Charge</u>
    </elm-button>

    <div [class.error-div]="!isValidCostBreakdownAmount"
         class="border-radius-5 cost-breakdown-total-div mt-5 mb-2 p-3 offset-md-9"
         *ngIf="costBreakdownItemsControls && costBreakdownItemsControls.length > 0 && isPrepaid">
      <div class="row">
        <div class="row d-flex justify-content-between">
          <span class="px-3 col-md-8 text-right">Contracted Rate Total:</span>
          <span class="col-md-4 text-right p-0"
                [ngClass]="{'attention-text':isMakingRateCall}">{{
            isMakingRateCall
              ? "Rating..."
              : contractedRateTotal | currency
            }}</span>
        </div>
        <div class="row d-flex justify-content-between">
          <span class="px-3 col-md-8 text-right">Non-Contracted Rate Total:</span>
          <span class="col-md-4 text-right p-0"
                [ngClass]="{'attention-text':isMakingRateCall}">{{
            isMakingRateCall
              ? "Rating..."
              : nonContractedRateTotal | currency
            }}</span>
        </div>
      </div>
    </div>
    <small class="error-text col-3 offset-md-9 mt-3" *ngIf="!isValidCostBreakdownAmount">
      Cost Breakdown Total must equal Invoice Net Amount
    </small>

  </div>
  <div class="cost-breakdown-div my-3" formArrayName="pendingChargeLineItems">
    <div class="col-12">Pending Charges</div>
    <div class="row my-3 mx-0 pending-line-item-header">
      <div class="col-3">Charge</div>
      <div class="col-1">Attachment</div>
      <div class="col-1">Rate Source</div>
      <div class="col-1">Rate</div>
      <div class="col-1">Type</div>
      <div class="col-1">Quantity</div>
      <div class="col-4 row">
        <div [ngClass]="{'col-11': readOnlyForm,
                       'col-5': !readOnlyForm}">
          Total
        </div>
        <div *ngIf="!readOnlyForm" class="col-6">Actions</div>
      </div>
    </div>

    <ng-container *ngIf="pendingChargeLineItemControls && pendingChargeLineItemControls.length > 0 && isPrepaid">
      <div *ngFor="let _ of pendingChargeLineItemControls; index as j"
           class="row"
           [ngClass]="{ 'cost-breakdown-item-row' : _.get('message')?.value !== 'NOT FOUND' }"
           [formGroupName]="j">

        <!-- Pending Line Item- Charge -->
        <div class="col-3">
          <input id="pending-line-item-charge"
                 type="text"
                 class="form-control"
                 formControlName="charge"
                 [attr.disabled]="true"
                 [ngClass]="{ 'error-div' : _.get('message')?.value === 'NOT FOUND' }"
          />
          <small class="error-text"
                 *ngIf="_.get('message')?.value === 'NOT FOUND'">
            Charge not found
          </small>
        </div>

        <!-- Pending Line Item - Attachments -->
        <div class="col-1">
          <elm-button id="link-button-pending"
                      buttonType="button"
                      buttonStyle="text"
                      class="flex-shrink-1"
                      *ngIf="_.get('attachment')?.value?.url"
                      (click)="downloadAttachment(_.get('attachment')?.value?.url)">
            <div class="material-icons download-icon"
                 (click)="downloadAttachment(_.get('attachment')?.value?.url)">file_download
            </div>
            Download
          </elm-button>
        </div>

        <div class="col-1">
          <input id="pending-line-item-rate-source"
                 type="text"
                 class="form-control"
                 formControlName="rateSource"
                 [attr.disabled]="(readOnlyForm || _.get('message')?.value !== 'NOT FOUND') ? true : null"
          />
        </div>

        <!-- Pending breakdown item - Rate -->
        <div class="col-1">
          <input id="pending-line-item-rate"
                 type="text"
                 class="form-control text-right"
                 formControlName="rate"
                 [attr.disabled]="true"
          />
        </div>

        <!-- Pending breakdown item - Type -->
        <div class="col-1">
          <input id="pending-line-item-type"
                 type="text"
                 class="form-control"
                 formControlName="type"
                 [attr.disabled]="true"
          />
        </div>

        <!-- Pending breakdown item - Quantity -->
        <div class="col-1">
          <input id="pending-line-item-quantity"
                 type="text"
                 class="form-control"
                 formControlName="quantity"
                 maxlength="10"
                 [attr.disabled]="true"
          />
        </div>

        <div class="col-4 row">
          <!-- Pending breakdown item - totalAmount -->
          <div [ngClass]="{'col-11': readOnlyForm,
                          'col-5': !readOnlyForm}">
            <app-fal-currency-input
              id="pending-line-item-total"
              [isError]="_.get('totalAmount')?.value === 0"
              formControlName="totalAmount"
              [isDisabled]="true">
            </app-fal-currency-input>

            <small class="error-text"
                   *ngIf="_.get('charge')?.value === 'Base Rate' && _.get('totalAmount')?.value === 0">
              Base Rate Amount is required
            </small>
            <small class="error-text"
                   *ngIf="_.get('charge')?.value !== 'Base Rate' && _.get('totalAmount')?.value === 0">
              Charge Rate not Found
            </small>
          </div>

          <ng-template [ngIf]="!readOnlyForm">
            <div class="col-6">
              <!-- OPEN-->
              <div *ngIf="_.value.variables?.length > 0" class="material-icons edit-icon"
                   (click)="onEditCostLineItem(_, pendingChargeLineItemControls)">edit
              </div>
              <ng-template [ngIf]="_.value.requestStatus === 'Open'">
                <div *ngIf="_.value.variables?.length === 0" class="edit-icon-invisible"></div>
                <elm-button buttonType="button"
                            buttonStyle="text"
                            *ngIf="_.value.totalAmount !== 0"
                            [padding]="'10px'"
                            id="pending-accept-button"
                            [isDisabled]="readOnlyForm || _.dirty"
                            (buttonClick)="acceptCharge(_.value)">
                  <span>Accept</span>
                </elm-button>
                <elm-button buttonType="button"
                            buttonStyle="text"
                            [padding]="'10px'"
                            id="pending-delete-button"
                            [isDisabled]="readOnlyForm || _.dirty"
                            (buttonClick)="denyCharge(_.value)">
                  <span>Deny</span>
                </elm-button>
              </ng-template>
              <!-- ERROR -->
              <ng-template [ngIf]="_.value.requestStatus === 'Error'">
                <elm-button buttonType="button"
                            buttonStyle="text"
                            [margin]="'0 0 0 120px'"
                            [padding]="'10px'"
                            id="pending-deny-button"
                            [isDisabled]="readOnlyForm"
                            (buttonClick)="denyCharge(_.value)">
                  <span>Deny</span>
                </elm-button>
              </ng-template>
            </div>
          </ng-template>

          <div class="col-1 expand-button" *ngIf="_.value.entrySource !== 'AUTO'">
            <span *ngIf="!_.value.expanded" role="button" class="material-icons"
                  (click)="onExpandCostLineItem(_.value)">
              expand_more
            </span>
            <span *ngIf="_.value.expanded" role="button" class="material-icons" (click)="onExpandCostLineItem(_.value)">
              expand_less
            </span>
          </div>
        </div>
        <app-fal-accessorial-detail [lineItem]="_"></app-fal-accessorial-detail>
      </div>
    </ng-container>
    <div class="no-results" *ngIf="pendingChargeLineItems && pendingChargeLineItems.length == 0">
      No Pending Charges
    </div>
  </div>

  <div class="cost-breakdown-div my-3" formArrayName="deniedChargeLineItems">
    <div class="col-12">Denied Charges</div>
    <div class="row my-3 mx-0 pending-line-item-header">
      <div class="col-3">Charge</div>
      <div class="col-1">Attachment</div>
      <div class="col-1">Rate Source</div>
      <div class="col-1">Rate</div>
      <div class="col-1">Type</div>
      <div class="col-1">Quantity</div>
      <div class="col-4 row">
        <div [ngClass]="{'col-11': readOnlyForm,
                        'col-5': !readOnlyForm}">
          Total
        </div>
      </div>
    </div>

    <ng-container *ngIf="deniedChargeLineItemControls && deniedChargeLineItemControls.length > 0 && isPrepaid">
      <div *ngFor="let _ of deniedChargeLineItemControls; index as k"
           class="row"
           [ngClass]="{ 'cost-breakdown-item-row' : _.get('message')?.value !== 'NOT FOUND' }"
           [formGroupName]="k">

        <!-- Denied Line Item- Charge -->
        <div class="col-3">
          <input id="denied-line-item-charge"
                 type="text"
                 class="form-control"
                 formControlName="charge"
                 [attr.disabled]="true"
                 [ngClass]="{ 'error-div' : _.get('message')?.value === 'NOT FOUND' }"
          />
          <small class="error-text"
                 *ngIf="_.get('message')?.value === 'NOT FOUND'">
            Charge not found
          </small>
        </div>

        <!-- Denied Line Item - Attachments -->
        <div class="col-1">
          <elm-button id="link-button-denied"
                      buttonType="button"
                      buttonStyle="text"
                      class="flex-shrink-1"
                      *ngIf="_.get('attachment')?.value?.url"
                      (click)="downloadAttachment(_.get('attachment')?.value?.url)">
            <div class="material-icons download-icon"
                 (click)="downloadAttachment(_.get('attachment')?.value?.url)">file_download
            </div>
            Download
          </elm-button>
        </div>

        <div class="col-1">
          <input id="denied-line-item-rate-source"
                 type="text"
                 class="form-control"
                 formControlName="rateSource"
                 [attr.disabled]="true"
          />
        </div>

        <!-- Denied breakdown item - Rate -->
        <div class="col-1">
          <input id="denied-line-item-rate"
                 type="text"
                 class="form-control text-right"
                 formControlName="rate"
                 [attr.disabled]="true"
          />
        </div>

        <!-- Denied breakdown item - Type -->
        <div class="col-1">
          <input id="denied-line-item-type"
                 type="text"
                 class="form-control"
                 formControlName="type"
                 [attr.disabled]="true"
          />
        </div>

        <!-- Denied breakdown item - Quantity -->
        <div class="col-1">
          <input id="denied-line-item-quantity"
                 type="text"
                 class="form-control"
                 formControlName="quantity"
                 maxlength="10"
                 [attr.disabled]="true"
          />
        </div>

        <div class="col-4 row">
          <!-- Denied breakdown item - totalAmount -->
          <div [ngClass]="{'col-11': readOnlyForm,
                         'col-5': !readOnlyForm}">
            <app-fal-currency-input
              id="denied-line-item-total"
              formControlName="totalAmount"
              [isDisabled]="true">
            </app-fal-currency-input>
          </div>

          <div class="col-6" *ngIf="!readOnlyForm">
            <!-- SPACER FOR ACTION SECTION -->
          </div>

          <div class="col-1 expand-button" *ngIf="_.value.entrySource !== 'AUTO'">
            <span *ngIf="!_.value.expanded" role="button" class="material-icons"
                  (click)="onExpandCostLineItem(_.value)">
              expand_more
            </span>
            <span *ngIf="_.value.expanded" role="button" class="material-icons"
                  (click)="onExpandCostLineItem(_.value)">
              expand_less
            </span>
          </div>
        </div>
        <app-fal-accessorial-detail [lineItem]="_"></app-fal-accessorial-detail>
      </div>
    </ng-container>
    <div class="no-results" *ngIf="deniedChargeLineItems && deniedChargeLineItems.length == 0">
      No Denied Charges
    </div>
  </div>

  <div class="cost-breakdown-div my-3" formArrayName="disputeLineItems">
    <div class="col-12">Disputes</div>
    <div class="row my-3 mx-0 dispute-item-header">
      <div class="col-2">Carrier Comments</div>
      <div class="col-1">Attachment</div>
      <div class="col-1">Creation Date</div>
      <div class="col-1">Created By</div>
      <div class="col-1">Response Status</div>
      <div class="col-2">Response Comments</div>
      <div class="col-1">Closed Date</div>
      <div class="col-1">Closed By</div>
      <div *ngIf="!readOnlyForm" class="col-2">Actions</div>
    </div>
    <ng-container *ngIf="disputeLineItemControls && disputeLineItemControls.length > 0 && isPrepaid">
      <div *ngFor="let _ of disputeLineItemControls; index as i"
           class="row dispute-item-row"
           [formGroupName]="i">

        <!-- Dispute Line Item - Carrier Comment -->
        <div class="col-2">
          <textarea id="comment"
                    formControlName="comment"
                    class="form-control"
                    readonly
          ></textarea>
        </div>

        <!-- Dispute Line Item - Attachments -->
        <div class="col-1">
          <elm-button id="link-button"
                      buttonType="button"
                      buttonStyle="text"
                      class="flex-shrink-1"
                      *ngIf="_.get('attachment')?.value?.url"
                      (click)="downloadAttachment(_.get('attachment')?.value?.url)">
            <div class="material-icons download-icon"
                 (click)="downloadAttachment(_.get('attachment')?.value?.url)">file_download
            </div>
            Download
          </elm-button>
        </div>

        <!-- Dispute Line Item - Created Date -->
        <div class="col-1">
          {{_.value.createdDate | date: dateFormat}}
        </div>

        <!-- Dispute Line Item - Created By -->
        <div class="col-1 dispute-item-row">
          <span *ngIf="_.value.createdBy?.length > ellipsisPipeLimit"
                [matTooltipPosition]="'below'"
                [matTooltip]="_.value.createdBy"
                [ngStyle]="{'font-size':'15px', 'vertical-align':'text-top'}"
                matTooltipClass="newLine">{{_.value.createdBy | ellipsisPipe:ellipsisPipeLimit}}</span>
          <span *ngIf="_.value.createdBy?.length <= ellipsisPipeLimit">
            {{_.value.createdBy || 'N/A'}}
          </span>
        </div>

        <!-- Dispute Line Item - Response Status -->
        <div class="col-1">
          {{_.value.disputeStatus?.label || 'N/A'}}
        </div>

        <!-- Dispute Line Item - Response Comment -->
        <div class="col-2">
          <textarea id="response-comment"
                    formControlName="responseComment"
                    class="form-control"
                    readonly
          ></textarea>
        </div>

        <!-- Dispute Line Item - Closed Date -->
        <div class="col-1">
          {{(_.value.closedDate | date: dateFormat) || 'N/A'}}
        </div>

        <!-- Dispute Line Item - Closed By -->
        <div class="col-1">
          <span *ngIf="_.value.closedBy?.length > ellipsisPipeLimit"
                [matTooltipPosition]="'below'"
                [matTooltip]="_.value.closedBy"
                [ngStyle]="{'font-size':'15px', 'vertical-align':'text-top'}"
                matTooltipClass="newLine">{{_.value.closedBy | ellipsisPipe:ellipsisPipeLimit}}</span>
          <span *ngIf="_.value.closedBy?.length <= ellipsisPipeLimit">
            {{_.value.closedBy || 'N/A'}}
          </span>
        </div>

        <div *ngIf="!readOnlyForm" class="col-2">
          <span *ngIf="_.value.disputeStatus.key === 'OPEN'">
            <elm-button buttonType="button"
                        buttonStyle="text"
                        [padding]="'0 10px'"
                        id="dispute-accept-button"
                        [isDisabled]="readOnlyForm"
                        (buttonClick)="resolveDispute('Accept')">
              <span>Accept</span>
            </elm-button>
            <elm-button buttonType="button"
                        buttonStyle="text"
                        [padding]="'0 10px'"
                        id="dispute-deny-button"
                        [isDisabled]="readOnlyForm"
                        (buttonClick)="resolveDispute('Deny')">
              <span>Deny</span>
            </elm-button>
          </span>
        </div>
      </div>

    </ng-container>
    <div class="no-results" *ngIf="disputeLineItemControls && disputeLineItemControls.length == 0">
      No Disputes
    </div>
  </div>

  <div class="no-results" *ngIf="!isPrepaid">
    No rates available
  </div>
</div>

