@use "@elm/elm-styleguide-ui/src/styles/utility/elm-colors" as colors;

.inputError {
  color: colors.$error-red;
  text-align: center;
  margin-top: -32px;
}

.errorSpacing {
  padding-bottom: 36px;
}

::ng-deep .ng-select {
  padding: 0;
}
