<elm-modal-header title="Invoice Filters"
></elm-modal-header>
<elm-modal-body id='filterModalBody' overflow="auto">
  <form
    novalidate
    [formGroup]="localFilterModel.form"
    (ngSubmit)="onSubmit()"
    class="needs-validation container">

    <span class="elm-nav1">Invoice Status</span>
    <div class="row">
      <div *ngFor="let invoiceStatusOption of filterService.invoiceStatuses; let i=index"
           class="col-6 col-md-4">
        <div class="form-check mt-2">
          <input class="form-check-input"
                 id="{{invoiceStatusOption.key}}"
                 type="checkbox"
                 [value]="invoiceStatusOption.key"
                 [checked]="localFilterModel.isChecked('invoiceStatuses', invoiceStatusOption.key)"
                 (change)="localFilterModel.onCheckChange('invoiceStatuses', $event)">
          <label class="form-check-label elm-field-label1"
                 for="{{invoiceStatusOption.key}}">
            {{invoiceStatusOption.label}}
          </label>
        </div>
      </div>
    </div>

    <hr>
    <span class="elm-nav1">Miscellaneous</span>
    <div class="row">
      <div class="col-6 col-md-4">
        <div class="form-check mt-2">
          <input class="form-check-input"
                 id="filterBySpotQuote"
                 formControlName="filterBySpotQuote"
                 type="checkbox">
          <label class="form-check-label elm-field-label1">
            Spot Quote
          </label>
        </div>
      </div>
    </div>
    <hr>
    <div class="row mt-4 px-3">
      <h6 class="px-0">Carrier</h6>
      <ng-select id="masterDataScacs"
                 [items]="sortedMasterDataScacs"
                 [multiple]="true"
                 bindLabel="label"
                 bindValue="value"
                 placeholder="Select multiple..."
                 formControlName="scac"
      >
      </ng-select>
    </div>

    <div class="row mt-4 px-3">
      <h6 class="px-0">Shipping point</h6>
      <ng-select id="masterDataShippingPoints"
                 [items]="sortedMasterDataShippingPoints"
                 bindLabel="label"
                 bindValue="value"
                 placeholder="Select One..."
                 formControlName="shippingPoints"
      ></ng-select>
    </div>

    <div class="row mt-4 px-3">
      <h6 class="px-0">Mode</h6>
      <ng-select id="masterDataModes"
                 [items]="sortedMasterDataModes"
                 bindLabel="label"
                 [multiple]="true"
                 bindValue="value"
                 placeholder="Select One..."
                 formControlName="mode"
                 [closeOnSelect]="false"
      ></ng-select>
    </div>


    <div class="row mt-4 px-3">
      <h6 class="px-0">Origin</h6>
      <ng-select id="originCities"
                 [items]="originCities"
                 bindLabel="label"
                 bindValue="value"
                 formControlName="originCity"
                 placeholder="Select One..."
                 [compareWith]="compareCitiesWith"
      ></ng-select>
    </div>

    <div class="row mt-4 px-3">
      <h6 class="px-0">Destination</h6>
      <ng-select id="destinationCities"
                 [items]="destinationCities"
                 bindLabel="label"
                 bindValue="value"
                 formControlName="destinationCity"
                 placeholder="Select One..."
                 [compareWith]="compareCitiesWith"
      ></ng-select>
    </div>

    <hr>
    <span class="elm-nav1">Pickup Date</span>
    <div class="row">
      <div class="col-md-6">
        <elm-date-picker id="minPickupDateTime"
                         label="From"
                         labelPosition="top"
                         formControlName="minPickupDateTime"
                         outsideDays="hidden"
                         [showTimezone]="false"
                         [maxDate]="localFilterModel.form.controls.maxPickupDateTime?.value"
                         width="100%"
                         placement="bottom auto"
                         container=""
        ></elm-date-picker>
      </div>

      <div class="col-md-6">
        <elm-date-picker id="maxPickupDateTime"
                         label="To"
                         labelPosition="top"
                         formControlName="maxPickupDateTime"
                         outsideDays="hidden"
                         [showTimezone]="false"
                         [minDate]="localFilterModel.form.controls.minPickupDateTime?.value"
                         width="100%"
                         placement="bottom auto"
                         container=""
        ></elm-date-picker>
      </div>
    </div>

    <span class="elm-nav1">Delivery Date</span>
    <div class="row">
      <div class="col-md-6">
        <elm-date-picker id="minDeliveryDateTime"
                         label="From"
                         labelPosition="top"
                         formControlName="minDeliveryDateTime"
                         outsideDays="hidden"
                         [showTimezone]="false"
                         [maxDate]="localFilterModel.form.controls.maxDeliveryDateTime?.value"
                         width="100%"
                         placement="bottom auto"
                         container=""
        ></elm-date-picker>
      </div>

      <div class="col-md-6">
        <elm-date-picker id="maxDeliveryDateTime"
                         label="To"
                         labelPosition="top"
                         formControlName="maxDeliveryDateTime"
                         outsideDays="hidden"
                         [showTimezone]="false"
                         [minDate]="localFilterModel.form.controls.minDeliveryDateTime?.value"
                         width="100%"
                         placement="bottom auto"
                         container=""
        ></elm-date-picker>
      </div>
    </div>

    <span class="elm-nav1">Invoice Date</span>
    <div class="row">
      <div class="col-md-6">
        <elm-date-picker id="minInvoiceDateTime"
                         label="From"
                         labelPosition="top"
                         formControlName="minInvoiceDateTime"
                         outsideDays="hidden"
                         [showTimezone]="false"
                         [maxDate]="localFilterModel.form.controls.maxInvoiceDateTime?.value"
                         width="100%"
                         placement="bottom auto"
                         container=""
        ></elm-date-picker>
      </div>

      <div class="col-md-6">
        <elm-date-picker id="maxInvoiceDateTime"
                         label="To"
                         labelPosition="top"
                         formControlName="maxInvoiceDateTime"
                         outsideDays="hidden"
                         [showTimezone]="false"
                         [minDate]="localFilterModel.form.controls.minInvoiceDateTime?.value"
                         width="100%"
                         placement="bottom auto"
                         container=""
        ></elm-date-picker>
      </div>
    </div>

    <span class="elm-nav1">Paid Date</span>
    <div class="row">
      <div class="col-md-6">
        <elm-date-picker id="minPaidDateTime"
                         label="From"
                         labelPosition="top"
                         formControlName="minPaidDateTime"
                         outsideDays="hidden"
                         [showTimezone]="false"
                         [maxDate]="localFilterModel.form.controls.maxPaidDateTime?.value"
                         width="100%"
                         placement="bottom auto"
                         container=""
        ></elm-date-picker>
      </div>

      <div class="col-md-6">
        <elm-date-picker id="maxPaidDateTime"
                         label="To"
                         labelPosition="top"
                         formControlName="maxPaidDateTime"
                         outsideDays="hidden"
                         [showTimezone]="false"
                         [minDate]="localFilterModel.form.controls.minPaidDateTime?.value"
                         width="100%"
                         placement="bottom auto"
                         container=""
        ></elm-date-picker>
      </div>
    </div>
  </form>
</elm-modal-body>
<elm-modal-footer
                  tertiaryButtonText="CLEAR FILTERS"
                  (tertiaryButtonClick)="clearFilters()"


                  secondaryButtonText="CANCEL"
                  (secondaryButtonClick)="onCancel()"


                  primaryButtonText="APPLY"
                  (primaryButtonClick)="onSubmit()"
></elm-modal-footer>
