<div [formGroup]="_formGroup">
  <div formArrayName="invoiceAllocations">
    <span class="headline2">Invoice allocation</span>
    <div class="col-12 my-3">Allocation breakdown</div>
    <div class="row my-3 mx-0 invoice-allocation-header">
      <div class="col-2">Allocation %</div>
      <div class="col-2">Warehouse</div>
      <div class="col-2">GL Cost Center</div>
      <div class="col-2">GL Account</div>
      <div class="col-2">GL Company Code</div>
      <div class="col-2">Allocation Amount</div>
    </div>
    <ng-container *ngIf="invoiceAllocationsControls && invoiceAllocationsControls.length > 0">
      <div *ngFor="let _ of invoiceAllocationsControls; index as i" class="invoice-allocation-row row"
        [formGroupName]="i">

        <!-- Invoice allocation- allocationPercentage -->
        <div class="col-2">
          <input type="text" class="form-control" formControlName="allocationPercentage"
            [attr.disabled]="isEditMode? '': null" />
        </div>

        <!-- Invoice allocation - warehouse -->
        <div class="col-2">

          <input type="text" class="form-control" formControlName="warehouse"
            [attr.disabled]="isEditMode? '': null" />
        </div>

        <!-- Invoice allocation - glCostCenter -->
        <div class="col-2">
          <input type="text" class="form-control" formControlName="glCostCenter"
            [attr.disabled]="isEditMode? '': null" />
        </div>

        <!-- Invoice allocation - glAccount -->
        <div class="col-2">
          <input type="text" class="form-control" formControlName="glAccount"
            [attr.disabled]="isEditMode? '': null" />

        </div>

        <!-- Invoice allocation - glCompanyCode -->
        <div class="col-2">
          <input type="text" class="form-control" formControlName="glCompanyCode"
            [attr.disabled]="isEditMode? '': null" />
        </div>

        <!-- Invoice allocation - allocationAmount -->
        <div class="col-2 allocation-amount-div">
          <span class="allocation-amount-text" *ngIf="_.get('allocationAmount')?.value">{{_.get('allocationAmount')?.value | currency}}</span>
          <span class="allocation-amount-text" *ngIf="!_.get('allocationAmount')?.value">N/A</span>
        </div>

      </div>
    </ng-container>

    <div class="invoice-allocation-total-div my-5 p-3 offset-md-9" *ngIf="invoiceAllocationsControls && invoiceAllocationsControls.length > 0">
      <div class="row">
        <div class="row d-flex justify-content-between">
          <span class="px-3 col-md-6 text-right">Allocation totals:</span>
          <span class="col-md-6 text-right">{{getTotalAllocationAmount() | currency}}</span>
        </div>
      </div>
      <div class="row mt-3">
        <div class="row d-flex justify-content-between">
        <span class="px-3 col-md-6 text-right text-bold">Invoice Net Amount:</span>
        <span class="col-md-6 text-right text-bold">{{invoiceNetAmount | currency}}</span>
      </div>
      </div>
    
    </div>

  </div>
</div>