.invoice-allocation-header {
    background-color: #f6f6f6;
    padding-top: 10px;
    padding-bottom: 10px;
  }
 .invoice-allocation-header > div{
    font-size: 14px;
    font-weight: 700;
    
    &:last-child{
      text-align: right;
    }
 }

 .invoice-allocation-row{
   margin-bottom: 15px;

    .allocation-amount-div {

         text-align: right;

    }


 }
