@import "~@elm/elm-styleguide-ui/src/styles/cardinal-colors";

.error-div{
  border: 1px solid $cardinal-red;
}

.error-text {
  color: $cardinal-red;
}

.border-radius-5{
  border-radius: 5px;
}

.text-right{
  text-align: right;
}

.text-bold {
  font-weight: 700;
}

.invoice-allocation-header {
    background-color: #f6f6f6;
    padding-top: 10px;
    padding-bottom: 10px;
  }
 .invoice-allocation-header > div{
    font-size: 14px;
    font-weight: 700;

    &:last-child{
      text-align: right;
    }
 }

 .invoice-allocation-row{
   margin-bottom: 15px;
    .allocation-amount-div {
      text-align: right;
      padding-right: 25px;
    }
 }

.invoice-allocation-total-div {
  background-color:#f6f6f6;
}

.no-results{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  overflow: auto;
}
