@import "~@elm/elm-styleguide-ui/src/styles/cardinal-colors";

.dialog-close-button {
  margin-left: auto;
  margin-bottom: auto;
}

.modal-height {
  min-height: 244px;
}

.table-header {
  background-color: $cardinal-white;
  padding: 0 24px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.border {
  border: 1px solid $grey4;
}
