<div mat-dialog-title class="d-flex align-items-center" xmlns="http://www.w3.org/1999/html">
  <span class="headline2">Invoice History / Log</span>
  <elm-close-button class="dialog-close-button" mat-dialog-close></elm-close-button>
</div>
<hr/>
<div class="table-header" xmlns="http://www.w3.org/1999/html">
  <div class="headline1">Invoice {{falconInvoiceNumber}}</div>
  <div class="headline3">Status {{invoiceStatus}}</div>
</div>
<div>
  <div class="download-button">
    <elm-button id="link-button-pending"
                buttonType="button"
                buttonStyle="text"
                class="flex-shrink-1"
                [isDisabled]="filteredHistoryLogs.length === 0"
                (buttonClick)="downloadCsv()">
      <div class="material-icons download-icon" >file_download</div>
      Download Invoice History Log
    </elm-button>
    <span class="download-text">(.csv)</span>
  </div>
  <div class="border">
    <elm-data-table
      tableType="clickable"
      [data]="filteredHistoryLogs"
      [headers]="headers"
      [noResultsMessage]="'No Invoice History / Log Found'"
      [noResultsHeight]="100"
      (dataSelectedEvent)="onDataTableRowSelect($event)"
      [showPagination]="false"
      [maxHeight]="'500px'">
    </elm-data-table>
  </div>
  <div mat-dialog-actions class="float-right">
    <elm-button buttonStyle="secondary"
                class="ms-auto"
                mat-dialog-close
                id="cancel"
                aria-label="cancel">
      Cancel
    </elm-button>
    <elm-button buttonStyle="primary"
                class="ms-3"
                id="confirm"
                [isDisabled]="filteredHistoryLogs.length === 0"
                (buttonClick)="downloadCsv()"
                aria-label="confirm">
      Download
    </elm-button>
  </div>
</div>
