@use "@elm/elm-styleguide-ui/src/styles/utility/elm-colors" as colors;

.dialog-close-button {
  margin-left: auto;
  margin-bottom: auto;
}

.download-button {
  margin-bottom: 8px;
}

.download-text {
  margin-left: 8px;
}

.modal-height {
  min-height: 244px;
}

.table-header {
  background-color: colors.$white;
  padding: 0 24px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.border {
  border: 1px solid colors.$gray-light;
}

:host::ng-deep .updatedTimeClickable {
  padding: 0;
}
