<div id="container">
  <elm-button *ngIf="enableMilestones"
              id="milestones-button"
              class="milestone-button"
              (buttonClick)="toggleSidenav()"
              mat-dialog-close>
    Milestones
  </elm-button>
  <div class="content">
    <form [formGroup]="invoiceFormGroup"
          (ngSubmit)="onSubmit()">

      <div class="row me-0">

        <div class="row col-12 col-lg-6 me-1">
          <!-- MY TEMPLATE SELECT -->
          <div *ngIf="!isOnEditPage" class="col-12">
            <label for="my-templates-input" class="form-label fieldLabel1">
              My Templates (optional)
            </label>
            <ng-select id="my-templates-input"
                       [formControl]="selectedTemplateFormControl"
                       [items]="myTemplateOptions"
                       [searchable]="true"
                       placeholder="Select One...">
            </ng-select>
          </div>

          <!-- WORK TYPE -->
          <div class="col-12">
            <label for="work-type-input" class="form-label fieldLabel1">
              Work Type
            </label>
            <ng-select id="work-type-input"
                       formControlName="workType"
                       [items]="workTypeOptions"
                       [searchable]="true"
                       placeholder="Select One...."
                       [ngClass]="{ 'error': workType.errors && workType.hasError('required') && !workType.pristine, 'disabled': readOnly }">
            </ng-select>
            <small class="error-text"
                   *ngIf="workType.hasError('required') && !workType.pristine">
              Work Type is required
            </small>
          </div>

          <!-- COMPANY CODE -->
          <div class="col-12">
            <label for="company-code-input" class="form-label fieldLabel1">
              Company Code
            </label>
            <input type="text"
                   id="company-code-input"
                   formControlName="companyCode"
                   class="form-control"
                   (keypress)="validateRegex($event)"
                   maxlength="4"
                   [ngClass]="companyCode.errors && companyCode.hasError('required') && !companyCode.pristine ? 'error' : ''"
            />
            <small class="error-text"
                   *ngIf="companyCode.hasError('required') && !companyCode.pristine">
              Company Code is required
            </small>
          </div>

          <!-- ERP TYPE -->
          <div class="col-12">
            <label for="erp-type-input" class="form-label fieldLabel1">
              ERP Type
            </label>
            <app-fal-radio-input id="erp-type-input"
                                 formControlName="erpType"
                                 [options]="erpTypeOptions"
                                 [isDisabled]="readOnly"
                                 [isError]="!!(erpType.errors && erpType.hasError('required') && !erpType.pristine)">
            </app-fal-radio-input>
            <small class="error-text"
                   *ngIf="erpType.hasError('required') && !erpType.pristine">
              ERP Type is required
            </small>
          </div>

          <!-- VENDOR NUMBER -->
          <div class="col-12">
            <label for="vendor-number-input" class="form-label fieldLabel1">
              Vendor Number
            </label>
            <input type="text"
                   id="vendor-number-input"
                   class="form-control"
                   formControlName="vendorNumber"
                   (keypress)="validateRegex($event)"
                   maxlength="10"
                   [ngClass]="vendorNumber.errors
                      && vendorNumber.hasError('required')
                      && !vendorNumber.pristine ? 'error' : ''"
            />
            <small class="error-text"
                   *ngIf="vendorNumber.hasError('required') && !vendorNumber.pristine">
              Vendor Number is required
            </small>
          </div>

          <!-- EXTERNAL INVOICE NUMBER -->
          <div class="col-12">
            <label for="external-invoice-number-input" class="form-label fieldLabel1">
              External Invoice Number
            </label>
            <input type="text"
                   id="external-invoice-number-input"
                   class="form-control"
                   formControlName="externalInvoiceNumber"
                   (keypress)="validateRegex($event)"
                   maxlength="16"
                   [ngClass]="externalInvoiceNumber.errors && externalInvoiceNumber.hasError('required')
                      && !externalInvoiceNumber.pristine ? 'error' : ''"
            />
            <small class="error-text"
                   *ngIf="externalInvoiceNumber.hasError('required') && !externalInvoiceNumber.pristine">
              External Invoice Number is required
            </small>
          </div>

          <!-- EXTERNAL INVOICE DATE -->
          <div class="col-12">
            <label for="external-invoice-date-input" class="form-label fieldLabel1">
              External Invoice Date
            </label>
            <app-fal-date-input id="external-invoice-date-input"
                                formControlName="invoiceDate"
                                [isDisabled]="readOnly"
                                [isError]="!!(invoiceDate.errors && (invoiceDate.hasError('required') && !invoiceDate.pristine || invoiceDate.hasError('validateDate')))">
            </app-fal-date-input>
            <small class="error-text"
                   *ngIf="invoiceDate.hasError('required') && !invoiceDate.pristine">
              External Invoice Date is required
            </small>
            <small class="error-text"
                   *ngIf="invoiceDate.hasError('validateDate')">
              Invoice Date is invalid
            </small>
          </div>


          <!-- INVOICE AMOUNT -->
          <div class="col-12">
            <label for="invoice-amount-input" class="form-label fieldLabel1">
              Invoice Net Amount
            </label>
            <app-fal-currency-input id="invoice-amount-input"
                                    formControlName="amountOfInvoice"
                                    [isDisabled]="readOnly"
                                    [isError]="!!(amountOfInvoiceFormControl.errors
                                      && amountOfInvoiceFormControl.hasError('required')
                                      && !amountOfInvoiceFormControl.pristine)">
            </app-fal-currency-input>
            <small class="error-text"
                   *ngIf="amountOfInvoiceFormControl.hasError('required') && !amountOfInvoiceFormControl.pristine">
              Invoice Net Amount is required
            </small>
          </div>

          <!-- CURRENCY -->
          <div class="col-12">
            <label for="currency-input" class="form-label fieldLabel1">
              Currency
            </label>
            <app-fal-radio-input id="currency-input"
                                 formControlName="currency"
                                 [options]="currencyOptions"
                                 [isDisabled]="readOnly"
                                 [isError]="!!(currency.errors && currency.hasError('required') && !currency.pristine)">
            </app-fal-radio-input>
            <small class="error-text"
                   *ngIf="currency.hasError('required') && !currency.pristine">
              Currency is required
            </small>
          </div>


          <!-- OVERRIDE STANDARD PAYMENT TERMS -->
          <div [formGroup]="osptFormGroup">
            <label for="override-stp-checkbox"
                   class="form-label fieldLabel1">
              <input id="override-stp-checkbox"
                     type="checkbox"
                     formControlName="isPaymentOverrideSelected"
                     [attr.disabled]="readOnly ? true : null"
              />
              Override Standard Payment Terms
            </label>
            <app-fal-radio-input formControlName="paymentTerms"
                                 [options]="paymentTermOptions"
                                 [isDisabled]="readOnly || !osptFormGroup.controls.isPaymentOverrideSelected.value">
            </app-fal-radio-input>
          </div>
        </div>

        <!-- UPLOAD DOCUMENT SECTION -->
        <app-upload-form class="row col-12 col-lg-6"
                         [isDisabled]="readOnly">
        </app-upload-form>

      </div>

      <div class="row">

        <!-- LINE ITEMS -->
        <cardinal-card id="line-items-card"
                       formArrayName="lineItems">
          <cardinal-section-header [sectionTitle]="'Line Items'">
          </cardinal-section-header>

          <!-- LINE ITEM - LOOP -->
          <div id="line-item-rows-container">
            <div *ngFor="let _ of lineItemsFormArray.controls; index as i"
                 class="line-item-row row align-items-end"
                 [formGroupName]="i">

              <div class="d-flex col-2 align-items-end">
                <!-- LINE ITEM - NUMBER -->
                <div class="flex-shrink-1">
                  <div class="fake-form-control">
                    {{i + 1}}
                  </div>
                </div>

                <!-- LINE ITEM - COMPANY CODE -->
                <div class="flex-grow-1">
                  <label *ngIf="i === 0" class="form-label fieldLabel1">
                    Company Code
                  </label>
                  <input type="text"
                         class="form-control"
                         formControlName="companyCode"
                         [placeholder]="invoiceFormGroup.controls.companyCode.value"
                         (keypress)="validateRegex($event)"
                         maxlength="4"
                  />
                </div>
              </div>

              <!-- LINE ITEM - COST CENTER -->
              <div class="col-2">
                <label *ngIf="i === 0" class="form-label fieldLabel1">
                  Cost Center
                </label>
                <input type="text"
                       class="form-control"
                       formControlName="costCenter"
                       (keypress)="validateRegex($event)"
                       maxlength="10"
                       [ngClass]="lineItemCostCenter(i).errors
                          && lineItemCostCenter(i).hasError('required')
                          && !lineItemCostCenter(i).pristine ? 'error' : ''"
                />
              </div>

              <!-- LINE ITEM - GL ACCOUNT -->
              <div class="col-2">
                <label *ngIf="i === 0" class="form-label fieldLabel1">
                  GL Account
                </label>
                <input type="text"
                       class="form-control"
                       formControlName="glAccount"
                       (keypress)="validateRegex($event)"
                       maxlength="10"
                       [ngClass]="lineItemGlAccount(i).errors
                          && lineItemGlAccount(i).hasError('required')
                          && !lineItemGlAccount(i).pristine ? 'error' : ''"
                />
              </div>

              <!-- LINE ITEM - NET AMOUNT -->
              <div class="col-2">
                <label *ngIf="i === 0" class="form-label fieldLabel1">
                  Line Net Amount
                </label>
                <app-fal-currency-input formControlName="lineItemNetAmount"
                                        [isDisabled]="readOnly"
                                        [isError]="!!(lineItemNetAmountFormControl(i).errors
                                          && lineItemNetAmountFormControl(i).hasError('required')
                                          && !lineItemNetAmountFormControl(i).pristine)"
                                        (keyup)="calculateLineItemNetAmount()">
                </app-fal-currency-input>
              </div>

              <div class="d-flex col-4 align-items-end">
                <!-- LINE ITEM - NOTES -->
                <div class="flex-grow-1">
                  <label *ngIf="i === 0" class="form-label fieldLabel1">
                    Notes (optional)
                  </label>
                  <input type="text"
                         class="form-control"
                         formControlName="notes"
                         (keypress)="validateFreeTextRegex($event)"
                         maxlength="50"
                  />
                </div>

                <!-- LINE ITEM - REMOVE -->
                <div class="flex-shrink-1">
                  <input type="button"
                         value="remove_circle"
                         class="material-icons btn line-item-remove-button"
                         [disabled]="lineItemRemoveButtonDisable || readOnly"
                         (click)="removeLineItem(i)"
                  />
                </div>
              </div>

            </div>
          </div>

          <div class="row">
            <!-- LINE ITEMS - ADD NEW -->
            <div class="col-6">
              <elm-button *ngIf="!readOnly"
                          buttonType="button"
                          buttonStyle="text"
                          id="add-new-line-item-button"
                          (buttonClick)="addNewEmptyLineItem()">
                <u>+ Add New Line Item</u>
              </elm-button>
            </div>
            <div class="col-2 line-item-total-amount">
              ${{totalLineItemNetAmount | number : '1.2-2'}}
            </div>
            <div class="col-4 form-label fieldLabel1">
              Line Net Amount Total
            </div>
          </div>


        </cardinal-card>

        <!-- FORM FOOTER -->
        <div id="form-footer"
             class="col-12 d-flex justify-content-between">

          <!-- CANCEL -->
          <elm-button id="cancel-button"
                      buttonType="button"
                      buttonStyle="text"
                      class="flex-shrink-1"
                      (buttonClick)="onCancel()">
            <u>Cancel</u>
          </elm-button>

          <!-- SUBMIT -->
          <elm-button id="submit-button"
                      buttonType="submit"
                      buttonStyle="primary"
                      class="flex-shrink-1"
                      [isDisabled]="(invoiceFormGroup.invalid || readOnly || !this.uploadFormComponent?.externalAttachment)">
            {{falconInvoiceNumber ? 'Save' : 'Create'}}
          </elm-button>
        </div>

      </div>
    </form>
  </div>
</div>
