<div id="container">
  <elm-button *ngIf="enableMilestones"
              id="milestones-button"
              class="milestone-button"
              (buttonClick)="toggleSidenav()"
              mat-dialog-close>
    Milestones
  </elm-button>
  <div class="content">
    <form [formGroup]="form.invoiceFormGroup">

      <div class="row me-0">

        <div *ngIf="hasLatestMilestoneComments"
             id="comment-container-parent"
             class="col-12">
          <fal-container id="comment-container">
            <strong>
              {{commentLabelPrefix}} Comments:
            </strong>
            {{latestMilestoneComments}}
          </fal-container>
        </div>

        <div class="row col-12 col-lg-6 me-1">

          <!-- MY TEMPLATE SELECT -->
          <div *ngIf="!isOnEditPage" class="col-12">
            <label for="my-templates-input" class="fal-label">
              My Templates (optional)
            </label>
            <ng-select id="my-templates-input"
                       [formControl]="form.selectedTemplate"
                       [items]="form.myTemplateOptions"
                       [searchable]="true"
                       placeholder="Select One...">
            </ng-select>
          </div>

          <!-- WORK TYPE -->
          <div class="col-12">
            <label for="work-type-input" class="fal-label">
              Work Type
            </label>
            <ng-select id="work-type-input"
                       formControlName="workType"
                       [items]="form.workTypeOptions"
                       [searchable]="true"
                       placeholder="Select One...."
                       [ngClass]="{ 'error': form.workType.errors
                                             && form.workType.hasError('required')
                                             && form.workType.touched,
                                    'disabled': readOnly }">
            </ng-select>
            <small class="error-text"
                   *ngIf="form.workType.hasError('required')
                          && form.workType.touched">
              Work Type is required
            </small>
          </div>

          <!-- COMPANY CODE -->
          <div class="col-12">
            <label for="company-code-input" class="fal-label">
              Company Code
            </label>
            <input type="text"
                   id="company-code-input"
                   formControlName="companyCode"
                   class="form-control"
                   (keypress)="validateRegex($event)"
                   maxlength="4"
                   (focus)="form.forceValueChangeEvent(form.companyCode)"
                   [ngClass]="(form.companyCode.errors
                              && form.companyCode.hasError('required')
                              && form.companyCode.touched)
                              || form.companyCode.hasError('pattern') ? 'error' : ''"
            />
            <small class="error-text"
                   *ngIf="form.companyCode.hasError('required')
                          && form.companyCode.touched">
              Company Code is required
            </small>
            <small class="error-text"
                   *ngIf="form.companyCode.hasError('pattern')">
              {{specialCharErrorMessage}}
            </small>
          </div>

          <!-- ERP TYPE -->
          <div class="col-12">
            <label for="erp-type-input" class="fal-label">
              ERP Type
            </label>
            <app-fal-radio-input id="erp-type-input"
                                 formControlName="erpType"
                                 [options]="form.erpTypeOptions"
                                 [isDisabled]="readOnly"
                                 (focus)="form.forceValueChangeEvent(form.erpType)"
                                 [isError]="!!(form.erpType.errors
                                               && form.erpType.hasError('required')
                                               && form.erpType.touched)">
            </app-fal-radio-input>
            <small class="error-text"
                   *ngIf="form.erpType.hasError('required') && form.erpType.touched">
              ERP Type is required
            </small>
          </div>

          <!-- VENDOR NUMBER -->
          <div class="col-12">
            <label for="vendor-number-input" class="fal-label">
              Vendor Number
            </label>
            <input type="text"
                   id="vendor-number-input"
                   class="form-control"
                   formControlName="vendorNumber"
                   (keypress)="validateRegex($event)"
                   maxlength="10"
                   (focus)="form.forceValueChangeEvent(form.vendorNumber)"
                   [ngClass]="(form.vendorNumber.errors
                      && form.vendorNumber.hasError('required')
                      && form.vendorNumber.touched)
                      || form.vendorNumber.hasError('pattern') ? 'error' : ''"
            />
            <small class="error-text"
                   *ngIf="form.vendorNumber.hasError('required') && form.vendorNumber.touched">
              Vendor Number is required
            </small>
            <small class="error-text"
                   *ngIf="form.vendorNumber.hasError('pattern')">
              {{specialCharErrorMessage}}
            </small>
          </div>

          <!-- EXTERNAL INVOICE NUMBER -->
          <div class="col-12">
            <label for="external-invoice-number-input" class="fal-label">
              External Invoice Number
            </label>
            <input type="text"
                   id="external-invoice-number-input"
                   class="form-control"
                   formControlName="externalInvoiceNumber"
                   (keypress)="validateRegex($event)"
                   maxlength="16"
                   (focus)="form.forceValueChangeEvent(form.externalInvoiceNumber)"
                   [ngClass]="(form.externalInvoiceNumber.errors
                              && form.externalInvoiceNumber.hasError('required')
                              && form.externalInvoiceNumber.touched)
                              || form.externalInvoiceNumber.hasError('pattern') ? 'error' : ''"
            />
            <small class="error-text"
                   *ngIf="form.externalInvoiceNumber.hasError('required')
                          && form.externalInvoiceNumber.touched">
              External Invoice Number is required
            </small>
            <small class="error-text"
                   *ngIf="form.externalInvoiceNumber.hasError('pattern')">
              {{specialCharErrorMessage}}
            </small>
          </div>

          <!-- EXTERNAL INVOICE DATE -->
          <div class="col-12">
            <label for="external-invoice-date-input" class="fal-label">
              External Invoice Date
            </label>
            <app-fal-date-input id="external-invoice-date-input"
                                formControlName="invoiceDate"
                                [isDisabled]="readOnly"
                                (focus)="form.forceValueChangeEvent(form.invoiceDate)"
                                [isError]="!!(form.invoiceDate.errors
                                              && (form.invoiceDate.hasError('required')
                                              && form.invoiceDate.touched
                                              || form.invoiceDate.hasError('validateDate')))">
            </app-fal-date-input>
            <small class="error-text"
                   *ngIf="form.invoiceDate.hasError('required')
                          && form.invoiceDate.touched">
              External Invoice Date is required
            </small>
            <small class="error-text"
                   *ngIf="form.invoiceDate.hasError('validateDate')">
              Invoice Date is invalid
            </small>
          </div>


          <!-- INVOICE AMOUNT -->
          <div class="col-12">
            <label for="invoice-amount-input" class="fal-label">
              Invoice Net Amount
            </label>
            <app-fal-currency-input id="invoice-amount-input"
                                    formControlName="amountOfInvoice"
                                    [isDisabled]="readOnly"
                                    (focus)="form.forceValueChangeEvent(form.amountOfInvoice)"
                                    [isError]="!!(form.amountOfInvoice.errors
                                                  && form.amountOfInvoice.hasError('required')
                                                  && form.amountOfInvoice.touched) 
                                                  || (form.amountOfInvoice.hasError('isGreaterThanZero')
                                                  && form.amountOfInvoice.touched)
                                                  || !form.isInvoiceAmountValid">
            </app-fal-currency-input>
            <small class="error-text"
                   *ngIf="form.amountOfInvoice.hasError('required')
                          && form.amountOfInvoice.touched">
              Invoice Net Amount is required
            </small>
            <small class="error-text"
                  *ngIf="form.amountOfInvoice.hasError('isGreaterThanZero')
                  && form.amountOfInvoice.touched">
              Invoice Net Amount must be greater than 0
            </small>
            <!-- <small class="error-text"
                   *ngIf="!form.isInvoiceAmountValid">
                   Total of Line Net Amount(s) must equal Invoice Net Amount.
            </small> -->
          </div>

          <!-- CURRENCY -->
          <div class="col-12">
            <label for="currency-input" class="fal-label">
              Currency
            </label>
            <app-fal-radio-input id="currency-input"
                                 formControlName="currency"
                                 [options]="form.currencyOptions"
                                 [isDisabled]="readOnly"
                                 (focus)="form.forceValueChangeEvent(form.currency)"
                                 [isError]="!!(form.currency.errors
                                               && form.currency.hasError('required')
                                               && form.currency.touched)">
            </app-fal-radio-input>
            <small class="error-text"
                   *ngIf="form.currency.hasError('required')
                          && form.currency.touched">
              Currency is required
            </small>
          </div>

          <!-- OVERRIDE STANDARD PAYMENT TERMS -->
          <div [formGroup]="form.osptFormGroup">
            <label for="override-stp-checkbox"
                   class="fal-label">
              <input id="override-stp-checkbox"
                     type="checkbox"
                     (focus)="form.forceValueChangeEvent(form.osptFormGroup)"
                     formControlName="isPaymentOverrideSelected"
                     [attr.disabled]="readOnly ? true : null"
              />
              Override Standard Payment Terms
            </label>
            <app-fal-radio-input formControlName="paymentTerms"
                                 [options]="form.paymentTermOptions"
                                 (focus)="form.forceValueChangeEvent(form.osptFormGroup)"
                                 [isDisabled]="readOnly || !form.isPaymentOverrideSelected.value">
            </app-fal-radio-input>
          </div>
        </div>

        <!-- UPLOAD DOCUMENT SECTION -->
        <app-upload-form class="row col-12 col-lg-6"
                         [isDisabled]="readOnly">
        </app-upload-form>

      </div>

      <div class="row">

        <!-- LINE ITEMS -->
        <elm-card id="line-items-card"
                  formArrayName="lineItems"
                  overflow="visible">
          <elm-section-header [sectionTitle]="'Line Items'">
          </elm-section-header>

          <!-- LINE ITEM - LOOP -->
          <div id="line-item-rows-container">
            <div *ngFor="let _ of form.lineItems.controls; index as i"
                 class="line-item-row row"
                 [formGroupName]="i">

              <div class="d-flex flex-row col-2 align-items-stretch">
                <!-- LINE ITEM - NUMBER -->
                <div class="d-flex flex-column flex-shrink-1 justify-content-start">
                  <label *ngIf="i === 0" class="fal-label invisible">
                    #
                  </label>
                  <div class="fake-form-control line-item-number">
                    {{i + 1}}
                  </div>
                  <small class="error-text invisible">
                    spacer
                  </small>
                </div>

                <!-- LINE ITEM - COMPANY CODE -->
                <div class="flex-grow-1">
                  <label *ngIf="i === 0" class="fal-label">
                    Company Code
                  </label>
                  <input type="text"
                         class="form-control"
                         formControlName="companyCode"
                         [placeholder]="form.companyCode.value"
                         (keypress)="validateRegex($event)"
                         maxlength="4"
                         (focus)="form.forceValueChangeEvent(form.lineItemCompanyCode(i))"
                         [ngClass]="form.lineItemCompanyCode(i).hasError('pattern') ? 'error' : ''"
                  />
                  <small class="error-text"
                         *ngIf="form.lineItemCompanyCode(i).hasError('pattern'); else companyCodeError">
                    {{specialCharErrorMessage}}
                  </small>
                  <ng-template #companyCodeError>
                    <small class="error-text invisible">
                      spacer
                    </small>
                  </ng-template>
                </div>
              </div>

              <!-- LINE ITEM - COST CENTER -->
              <div class="col-2">
                <label *ngIf="i === 0" class="fal-label">
                  Cost Center
                </label>
                <input type="text"
                       class="form-control"
                       formControlName="costCenter"
                       (keypress)="validateRegex($event)"
                       maxlength="10"
                       (focus)="form.forceValueChangeEvent(form.lineItemCostCenter(i))"
                       [ngClass]="form.lineItemCostCenter(i).errors
                          && form.lineItemCostCenter(i).hasError('required')
                          && form.lineItemCostCenter(i).touched
                          || form.lineItemCostCenter(i).hasError('pattern')
                          ? 'error' : ''"
                />
                <small class="error-text"
                       *ngIf="form.lineItemCostCenter(i).hasError('pattern'); else costCenterReq">
                  {{specialCharErrorMessage}}
                </small>
                <ng-template #costCenterReq>
                  <small class="error-text"
                         [ngClass]="{'invisible': !(form.lineItemCostCenter(i).hasError('required')
                                                  && form.lineItemCostCenter(i).touched)}">
                    Cost Center is required
                  </small>
                </ng-template>
              </div>

              <!-- LINE ITEM - GL ACCOUNT -->
              <div class="col-2">
                <label *ngIf="i === 0" class="fal-label">
                  GL Account
                </label>
                <input type="text"
                       class="form-control"
                       formControlName="glAccount"
                       (keypress)="validateRegex($event)"
                       maxlength="10"
                       (focus)="form.forceValueChangeEvent(form.lineItemGlAccount(i))"
                       [ngClass]="form.lineItemGlAccount(i).errors
                          && form.lineItemGlAccount(i).hasError('required')
                          && form.lineItemGlAccount(i).touched
                          || form.lineItemGlAccount(i).hasError('pattern')
                          ? 'error' : ''"
                />
                <small class="error-text"
                       *ngIf="form.lineItemGlAccount(i).hasError('pattern'); else glAmountReq">
                  {{specialCharErrorMessage}}
                </small>
                <ng-template #glAmountReq>
                  <small class="error-text"
                         [ngClass]="{'invisible': !(form.lineItemGlAccount(i).hasError('required')
                                                  && form.lineItemGlAccount(i).touched)}">
                    GL Account is required
                  </small>
                  
                </ng-template>
              </div>

              <!-- LINE ITEM - NET AMOUNT -->
              <div class="col-2">
                <label *ngIf="i === 0" class="fal-label">
                  Line Net Amount
                </label>
                <app-fal-currency-input formControlName="lineItemNetAmount"
                                        [isDisabled]="readOnly"
                                        (focus)="form.forceValueChangeEvent(form.lineItemNetAmount(i))"
                                        [isError]="!!(form.lineItemNetAmount(i).errors
                                                      && form.lineItemNetAmount(i).hasError('required')
                                                      && form.lineItemNetAmount(i).touched)
                                                      || !form.isInvoiceAmountValid">
                </app-fal-currency-input>                                
                <small class="error-text invisible">
                  <!-- this will eventually hold real error messages -->
                  spacer
                </small>
              </div>

              <div class="d-flex col-4 align-items-start">
                <!-- LINE ITEM - NOTES -->
                <div class="flex-grow-1">
                  <label *ngIf="i === 0" class="fal-label">
                    Notes (optional)
                  </label>
                  <input type="text"
                         class="form-control"
                         formControlName="notes"
                         (focus)="form.forceValueChangeEvent(form.lineItemNotes(i))"
                         (keypress)="validateFreeTextRegex($event)"
                         maxlength="50"
                  />
                  <small class="error-text invisible">
                    spacer
                  </small>
                </div>

                <!-- LINE ITEM - REMOVE -->
                <div class="flex-shrink-1">
                  <label *ngIf="i === 0" class="fal-label invisible">
                    remove
                  </label>
                  <div>
                    <input type="button"
                           value="remove_circle"
                           class="material-icons btn line-item-remove-button"
                           [disabled]="lineItemRemoveButtonDisable || readOnly"
                           (focus)="form.forceValueChangeEvent(form.lineItems)"
                           (click)="form.removeLineItem(i)"
                    /></div>
                  <small class="error-text invisible">
                    spacer
                  </small>
                </div>

              </div>

            </div>
          </div>

          <div class="row">
            <!-- LINE ITEMS - ADD NEW -->
            <div class="col-6">
              <elm-button *ngIf="!readOnly"
                          buttonType="button"
                          buttonStyle="text"
                          id="add-new-line-item-button"
                          (focus)="form.forceValueChangeEvent(form.lineItems)"
                          (buttonClick)="form.addNewEmptyLineItem()">
                <u>+ Add New Line Item</u>
              </elm-button>
            </div>
            <div class="col-2">
              <div class="fake-form-control line-item-total-amount">
                ${{form.totalLineItemNetAmount | number : '1.2-2'}}
              </div>
            </div>
            <div class="col-4">
              <div class="fake-form-control">
                Line Net Amount Total
              </div>
            </div>
          </div>
        </elm-card>

        <div class="col-6" style="padding-right: 44px">
          <!-- COMMENTS -->
          <label for="comments-input" class="fal-label">
            General Comments (optional)
          </label>
          <textarea id="comments-input"
                    formControlName="comments"
                    class="form-control"
                    (focus)="form.forceValueChangeEvent(form.comments)"
          ></textarea><!-- this formatting is to prevent accidental output to textarea -->
        </div>

        <!-- FORM FOOTER -->
        <div id="form-footer"
             class="col-12 d-flex justify-content-between">

          <!-- CANCEL -->
          <elm-button id="cancel-button"
                      buttonType="button"
                      buttonStyle="text"
                      class="flex-shrink-1"
                      (buttonClick)="onCancel()">
            <u>Cancel</u>
          </elm-button>

          <div class="flex-shrink-1">
            <!-- SAVE -->
            <elm-button id="save-button"
                        buttonType="button"
                        buttonStyle="primary"
                        class="fake-form-control"
                        [isDisabled]="(form.invoiceFormGroup.invalid || readOnly
                                        || !this.uploadFormComponent?.externalAttachment)"
                        (buttonClick)="onSaveButtonClick()">
              Save
            </elm-button>

            <!-- SUBMIT FOR APPROVAL -->
            <elm-button id="submit-for-approval-button"
                        buttonType="button"
                        buttonStyle="primary"
                        class="fake-form-control"
                        [isDisabled]="(form.invoiceFormGroup.invalid || readOnly
                                        || !this.uploadFormComponent?.externalAttachment)"
                        (buttonClick)="onSubmitForApprovalButtonClick()">
              Submit for Approval
            </elm-button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
