<div id="container">
  <elm-button *ngIf="enableMilestones"
              id="milestones-button"
              class="milestone-button"
              (buttonClick)="toggleSidenav()"
              mat-dialog-close>
    Milestones
  </elm-button>
  <div class="content my-3">
    <div class="headline2">
      Invoice Details
    </div>
    <form [formGroup]="form.invoiceFormGroup">

      <div class="row me-0">

        <div *ngIf="isOnEditPage" class="col-12 m-1 d-flex justify-content-end">
          <!-- this needs moved once Invoice Overview section is added to Manual invoice page -->
          <div class="fal-label">
            Invoice Type: Manual
          </div>
        </div>

        <div class="row col-12 col-lg-6 me-1">

          <!-- MY TEMPLATE SELECT -->
          <div *ngIf="!isOnEditPage" class="col-12">
            <label for="my-templates-input" class="fal-label">
              My Templates (optional)
            </label>
            <ng-select id="my-templates-input"
                       [formControl]="form.selectedTemplate"
                       [items]="form.myTemplateOptions"
                       [searchable]="true"
                       placeholder="Select One...">
            </ng-select>
          </div>

          <!-- WORK TYPE -->
          <div class="col-12">
            <label for="work-type-input" class="fal-label">
              Work Type
            </label>
            <ng-select id="work-type-input"
                       formControlName="workType"
                       [items]="form.workTypeOptions"
                       [searchable]="true"
                       placeholder="Select One...."
                       [ngClass]="{ 'error': form.workType.errors
                                             && form.workType.hasError('required')
                                             && form.workType.touched,
                                    'disabled': readOnly }">
            </ng-select>
            <small class="error-text"
                   *ngIf="form.workType.hasError('required')
                          && form.workType.touched">
              Work Type is required
            </small>
          </div>

          <!-- ERP TYPE -->
          <div class="col-12">
            <label for="erp-type-input" class="fal-label">
              ERP Type
            </label>
            <app-fal-radio-input id="erp-type-input"
                                 formControlName="erpType"
                                 [orientation]="0"
                                 [options]="form.erpTypeOptions"
                                 [isDisabled]="readOnly"
                                 (focus)="form.forceValueChangeEvent(form.erpType)"
                                 [isError]="!!(form.erpType.errors
                                               && form.erpType.hasError('required')
                                               && form.erpType.touched)">
            </app-fal-radio-input>
            <small class="error-text"
                   *ngIf="form.erpType.hasError('required') && form.erpType.touched">
              ERP Type is required
            </small>
          </div>

          <!-- COMPANY CODE -->
          <div class="col-6">
            <label for="company-code-input" class="fal-label">
              Company Code
            </label>
            <input type="text"
                   id="company-code-input"
                   formControlName="companyCode"
                   class="form-control"
                   (keypress)="validateRegex($event)"
                   maxlength="4"
                   (focus)="form.forceValueChangeEvent(form.companyCode)"
                   [ngClass]="form.companyCode.invalid && form.companyCode.touched ? 'error' : ''"
            />
            <small class="error-text"
                   *ngIf="form.companyCode.hasError('required')
                          && form.companyCode.touched">
              Company Code is required
            </small>
            <small class="error-text"
                   *ngIf="form.companyCode.hasError('pattern')">
              {{specialCharErrorMessage}}
            </small>
            <small class="error-text"
                   *ngIf="form.companyCode.hasError('validateCompanyCode')">
              Company code is invalid
            </small>
          </div>

          <!-- VENDOR NUMBER -->
          <div class="col-6">
            <label for="vendor-number-input" class="fal-label">
              Vendor Number
            </label>
            <input type="text"
                   id="vendor-number-input"
                   class="form-control"
                   formControlName="vendorNumber"
                   (keypress)="validateRegex($event)"
                   maxlength="10"
                   (focus)="form.forceValueChangeEvent(form.vendorNumber)"
                   [ngClass]="(form.vendorNumber.errors
                      && form.vendorNumber.hasError('required')
                      && form.vendorNumber.touched)
                      || form.vendorNumber.hasError('pattern') ? 'error' : ''"
            />
            <small class="error-text"
                   *ngIf="form.vendorNumber.hasError('required') && form.vendorNumber.touched">
              Vendor Number is required
            </small>
            <small class="error-text"
                   *ngIf="form.vendorNumber.hasError('pattern')">
              {{specialCharErrorMessage}}
            </small>
          </div>

          <!-- EXTERNAL INVOICE NUMBER -->
          <div class="col-6">
            <label for="external-invoice-number-input" class="fal-label">
              External Invoice Number
            </label>
            <input type="text"
                   id="external-invoice-number-input"
                   class="form-control"
                   formControlName="externalInvoiceNumber"
                   (keypress)="validateRegex($event)"
                   maxlength="16"
                   (focus)="form.forceValueChangeEvent(form.externalInvoiceNumber)"
                   [ngClass]="(form.externalInvoiceNumber.errors
                              && form.externalInvoiceNumber.hasError('required')
                              && form.externalInvoiceNumber.touched)
                              || form.externalInvoiceNumber.hasError('pattern') ? 'error' : ''"
            />
            <small class="error-text"
                   *ngIf="form.externalInvoiceNumber.hasError('required')
                          && form.externalInvoiceNumber.touched">
              External Invoice Number is required
            </small>
            <small class="error-text"
                   *ngIf="form.externalInvoiceNumber.hasError('pattern')">
              {{specialCharErrorMessage}}
            </small>
          </div>

          <!-- EXTERNAL INVOICE DATE -->
          <div class="col-6">
            <label for="external-invoice-date-input" class="fal-label">
              External Invoice Date
            </label>
            <app-fal-date-input id="external-invoice-date-input"
                                formControlName="invoiceDate"
                                [isDisabled]="readOnly"
                                (focus)="focusInvoiceDate()"
                                [isError]="!!(form.invoiceDate.errors
                                              && (form.invoiceDate.hasError('required')
                                              && form.invoiceDate.touched
                                              || form.invoiceDate.hasError('validateDate')))">
            </app-fal-date-input>
            <small class="error-text"
                   *ngIf="form.invoiceDate.hasError('required')
                          && form.invoiceDate.touched">
              External Invoice Date is required
            </small>
            <small class="error-text"
                   *ngIf="form.invoiceDate.hasError('validateDate')">
              Invoice Date is invalid
            </small>
          </div>
        </div>

        <!-- UPLOAD DOCUMENT SECTION -->
        <app-upload-form class="row col-12 col-lg-6"
                         [isDisabled]="readOnly">
        </app-upload-form>

      </div>

      <hr/>

        <!-- LINE ITEMS -->
        <elm-card id="line-items-card"

                  overflow="visible">
          <elm-section-header [sectionTitle]="'Invoice Amount'">
          </elm-section-header>

          <div class="row px-3">
            <!-- INVOICE AMOUNT -->
            <div class="col-2">
              <label for="invoice-amount-input" class="fal-label">
                Invoice Net Amount
              </label>
              <app-fal-currency-input id="invoice-amount-input"
                                      formControlName="amountOfInvoice"
                                      [isDisabled]="readOnly"
                                      (focus)="focusAmountOfInvoice()"
                                      [isError]="!!(form.amountOfInvoice.errors
                                                  && (form.amountOfInvoice.hasError('required')
                                                  || form.amountOfInvoice.hasError('isGreaterThanZero'))
                                                  && form.amountOfInvoice.touched)
                                                  || !form.isInvoiceAmountValid">
              </app-fal-currency-input>
              <small class="error-text"
                     *ngIf="(form.amountOfInvoice.hasError('required')
                          || form.amountOfInvoice.hasError('isGreaterThanZero'))
                          && form.amountOfInvoice.touched">
                Invoice Net Amount is required
              </small>
            </div>

            <!-- CURRENCY -->
            <div class="col-4 px-4 currency-div">
              <label for="currency-input" class="fal-label">
                Currency
              </label>
              <app-fal-radio-input id="currency-input"
                                   formControlName="currency"
                                   [options]="form.currencyOptions"
                                   [isDisabled]="readOnly"
                                   (focus)="form.forceValueChangeEvent(form.currency)"
                                   [isError]="!!(form.currency.errors
                                               && form.currency.hasError('required')
                                               && form.currency.touched)">
              </app-fal-radio-input>
              <small class="error-text"
                     *ngIf="form.currency.hasError('required')
                          && form.currency.touched">
                Currency is required
              </small>
            </div>

            <!-- OVERRIDE STANDARD PAYMENT TERMS -->
            <div class="col-4 offset-md-2 d-flex" [formGroup]="form.osptFormGroup">
              <label for="override-stp-checkbox"
                     class="fal-label override-stp-checkbox-div">
                <input id="override-stp-checkbox"
                       type="checkbox"
                       (focus)="form.forceValueChangeEvent(form.osptFormGroup)"
                       formControlName="isPaymentOverrideSelected"
                       [attr.disabled]="readOnly ? true : null"
                />
                Override Standard Payment Terms
              </label>
              <div class="payment-terms-div">
                <label class="fal-label">Payment terms</label>
                <ng-select id="paymentTerms"
                           formControlName="paymentTerms"
                           [items]="form.paymentTermOptions"
                           bindLabel="display"
                           bindValue="value"
                           (change)="form.forceValueChangeEvent(form.osptFormGroup)"
                           [readonly]="readOnly || !form.isPaymentOverrideSelected.value"
                           placeholder="Select One...">
                </ng-select>
              </div>

            </div>

          </div>

          <!-- LINE ITEM - LOOP -->
          <div id="line-item-rows-container" formArrayName="lineItems">
            <div class="row m-3 line-item-header">
              <div class="col-1 text-center">Line Item</div>
              <div class="col-2">Company Code</div>
              <div class="col-2">Cost Center</div>
              <div class="col-2">GL Account</div>
              <div class="col-2">Line Net Amount</div>
              <div class="col-3">Notes(optional)</div>
            </div>
            <div *ngFor="let _ of form.lineItems.controls; index as i"
                 class="line-item-row row mx-3"
                 [formGroupName]="i">

              <div class="col-1 text-left line-item sn">
                {{i + 1}}
              </div>

              <div class="col-2">
                <input type="text"
                       class="form-control"
                       formControlName="companyCode"
                       [placeholder]="form.companyCode.value"
                       (keypress)="validateRegex($event)"
                       maxlength="4"
                       (focus)="focusLineItemElement(form.lineItemCompanyCode(i))"
                       [ngClass]="form.lineItemCompanyCode(i).invalid
                                  && form.lineItemCompanyCode(i).touched
                                  ? 'error' : ''"
                />
                <small class="error-text"
                       *ngIf="form.lineItemCompanyCode(i).hasError('pattern'); else companyCodeError">
                  {{specialCharErrorMessage}}
                </small>
                <ng-template #companyCodeError>
                  <small class="error-text"
                         [ngClass]="{'invisible': !form.lineItemCompanyCode(i).hasError('validateCompanyCode')}">
                    Company code is invalid
                  </small>
                </ng-template>

              </div>


              <!-- LINE ITEM - COST CENTER -->
              <div class="col-2">
                <input type="text"
                       class="form-control"
                       formControlName="costCenter"
                       (keypress)="validateRegex($event)"
                       maxlength="10"
                       (focus)="focusLineItemElement(form.lineItemCostCenter(i))"
                       [ngClass]="form.lineItemCostCenter(i).errors
                          && form.lineItemCostCenter(i).hasError('required')
                          && form.lineItemCostCenter(i).touched
                          || form.lineItemCostCenter(i).hasError('pattern')
                          ? 'error' : ''"
                />
                <small class="error-text"
                       *ngIf="form.lineItemCostCenter(i).hasError('pattern'); else costCenterReq">
                  {{specialCharErrorMessage}}
                </small>
                <ng-template #costCenterReq>
                  <small class="error-text"
                         [ngClass]="{'invisible': !(form.lineItemCostCenter(i).hasError('required')
                                                  && form.lineItemCostCenter(i).touched)}">
                    Cost Center is required
                  </small>
                </ng-template>
              </div>

              <!-- LINE ITEM - GL ACCOUNT -->
              <div class="col-2">
                <input type="text"
                       class="form-control"
                       formControlName="glAccount"
                       (keypress)="validateRegex($event)"
                       maxlength="10"
                       (focus)="focusLineItemElement(form.lineItemGlAccount(i))"
                       [ngClass]="form.lineItemGlAccount(i).errors
                          && form.lineItemGlAccount(i).hasError('required')
                          && form.lineItemGlAccount(i).touched
                          || form.lineItemGlAccount(i).hasError('pattern')
                          ? 'error' : ''"
                />
                <small class="error-text"
                       *ngIf="form.lineItemGlAccount(i).hasError('pattern'); else glAmountReq">
                  {{specialCharErrorMessage}}
                </small>
                <ng-template #glAmountReq>
                  <small class="error-text"
                         [ngClass]="{'invisible': !(form.lineItemGlAccount(i).hasError('required')
                                                  && form.lineItemGlAccount(i).touched)}">
                    GL Account is required
                  </small>

                </ng-template>
              </div>

              <!-- LINE ITEM - NET AMOUNT -->
              <div class="col-2">
                <app-fal-currency-input formControlName="lineItemNetAmount"
                                        [isDisabled]="readOnly"
                                        (focus)="focusLineItemElement(form.lineItemNetAmount(i))"
                                        [isError]="!!(form.lineItemNetAmount(i).errors
                                                      && (form.lineItemNetAmount(i).hasError('required')
                                                      || form.lineItemNetAmount(i).hasError('isGreaterThanZero'))
                                                      && form.lineItemNetAmount(i).touched) || !form.isInvoiceAmountValid">
                </app-fal-currency-input>
                <small class="error-text"
                       *ngIf="!!(form.lineItemNetAmount(i).errors
                   && (form.lineItemNetAmount(i).hasError('required') || form.lineItemNetAmount(i).hasError('isGreaterThanZero'))
                   && form.lineItemNetAmount(i).touched)">
                  Line Net Amount is required
                </small>
              </div>

              <div class="d-flex col-3 align-items-start">
                <!-- LINE ITEM - NOTES -->
                <input type="text"
                       class="form-control"
                       formControlName="notes"
                       (focus)="form.forceValueChangeEvent(form.lineItemNotes(i))"
                       (keypress)="validateFreeTextRegex($event)"
                       maxlength="50"
                />

                <!-- LINE ITEM - REMOVE -->
                <div class="flex-shrink-1">
                  <div>
                    <input type="button"
                           value="remove_circle"
                           class="material-icons btn line-item-remove-button"
                           [disabled]="lineItemRemoveButtonDisable || readOnly"
                           (focus)="form.forceValueChangeEvent(form.lineItems)"
                           (click)="form.removeLineItem(i)"
                    /></div>
                  <small class="error-text invisible">
                    spacer
                  </small>
                </div>

              </div>

            </div>
          </div>

          <div class="row">
            <!-- LINE ITEMS - ADD NEW -->
            <div class="col-6">
              <elm-button *ngIf="!readOnly"
                          buttonType="button"
                          buttonStyle="text"
                          id="add-new-line-item-button"
                          (focus)="form.forceValueChangeEvent(form.lineItems)"
                          (buttonClick)="form.addNewEmptyLineItem()">
                <u>+ Add New Line Item</u>
              </elm-button>
            </div>
          </div>

          <div class="row mb-3 mx-3 amount-row">
            <div class="amount-summary-div col-3 offset-md-9 p-3 d-flex flex-column"
                 [ngClass]="!form.isInvoiceAmountValid  ? 'error-div' : ''">
              <div class="col-12 d-flex justify-content-between align-items-end">
                <span>Line Item Net Amount Total:</span>
                <span>${{form.totalLineItemNetAmount | number : '1.2-2'}}</span>
              </div>
              <div class="col-12 d-flex justify-content-between align-items-end">
                <span>Invoice Net Amount:</span>
                <span>${{form.amountOfInvoice?.value | number : '1.2-2'}}</span>
              </div>

            </div>
            <small class="error-text col-3 offset-md-9 px-0"
                   *ngIf="!form.isInvoiceAmountValid">
              Line Net Amount must equal Invoice Net Amount
            </small>
          </div>
        </elm-card>

        <div class="col-6" style="padding-right: 44px">
          <!-- COMMENTS -->
          <label for="comments-input" class="fal-label">
            General Comments (optional)
          </label>
          <textarea id="comments-input"
                    formControlName="comments"
                    class="form-control"
                    (focus)="form.forceValueChangeEvent(form.comments)"
          ></textarea><!-- this formatting is to prevent accidental output to textarea -->
        </div>

        <!-- FORM FOOTER -->
        <div id="form-footer"
             class="col-12 d-flex justify-content-between">

          <!-- CANCEL -->
          <elm-button id="cancel-button"
                      buttonType="button"
                      buttonStyle="text"
                      class="flex-shrink-1"
                      (buttonClick)="onCancel()">
            <u>Cancel</u>
          </elm-button>

          <div *ngIf="userInfo?.hasPermission(requiredPermissions) && editableInvoice" class="flex-shrink-1">
            <!-- SAVE -->
            <elm-button id="save-button"
                        buttonType="button"
                        buttonStyle="secondary"
                        class="fake-form-control"
                        [isDisabled]="(form.invoiceFormGroup.invalid || readOnly
                                        || !this.uploadFormComponent?.externalAttachment)"
                        (buttonClick)="onSaveButtonClick()">
              Save
            </elm-button>

            <!-- SUBMIT FOR APPROVAL -->
            <elm-button id="submit-for-approval-button"
                        buttonType="button"
                        buttonStyle="primary"
                        class="fake-form-control"
                        [isDisabled]="(form.invoiceFormGroup.invalid || readOnly
                                        || !this.uploadFormComponent?.externalAttachment)"
                        (buttonClick)="onSubmitForApprovalButtonClick()">
              Submit for Approval
            </elm-button>
          </div>
        </div>
    </form>
  </div>
</div>
