@import "~@elm/elm-styleguide-ui/src/styles/cardinal-colors";

.milestone {
  margin: 16px;
}

.header-button {
  flex-grow: 0;
  flex-shrink: 2;
  margin-left: 1em;
}

.side-nav-container {
  background-color: unset;
  z-index: 0;
}

.side-nav-content {
  overflow: hidden;
}

.side-nav {
  border-color: $cardinal-teal;
  border-top: solid 1px $cardinal-teal;
  border-top-left-radius: 0.25rem;
  width: 25%;
}
