<div style="height: 100vh">
  <div class="d-flex align-items-center flex-column justify-content-center h-100">
    <h3 class="mb-4">Your user profile has not been set up.</h3>
    <h3 class="mb-0">Contact your business administrator or send an email to</h3>
    <h3 class="mb-5"><a href = "mailto: G-ELM-FALCON-ADMIN@cardinalhealth.com">G-ELM-FALCON-ADMIN@cardinalhealth.com</a> for assistance.</h3>
    <elm-button buttonStyle="primary"
                (buttonClick)="logout()"
                routerLink="/logged-out">
      LOG OUT
    </elm-button>
  </div>
</div>

