@use "@elm/elm-styleguide-ui/src/styles/utility/elm-colors" as colors;



.header-button {
  flex-grow: 0;
  flex-shrink: 2;
  margin-left: 1em;
}

.side-nav-container {
  background-color: unset;
  z-index: 0;
}

.side-nav-content {
  overflow: hidden;
  padding: 1em;
}

.side-nav {
  top: -1px;
  border-color: colors.$gray-light;
  border-top: solid 1px colors.$gray-light;
  border-top-left-radius: 0.25rem;
  width: 25%;
}

.milestone-button {
  position: absolute;
  z-index: 100;
  left: 100%;
  top: 10%;
  transform-origin: 0% 0%;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg) translateY(-95%) translateX(-50%);
}

#form-footer {
  margin-top: 2em;
}

#cancel-button {
  text-align: left;
  padding-left: 0;
  padding-right: 0;
}

.margin-b-24 {
  margin: -24px 0 24px;
}

.close-icon {
  vertical-align: middle;
  background-color: #000000;
  font-size: 18px;
  margin-left: 15px;
  color: #ffffff;
  font-weight: bold;
  border-radius: 15px;
}

:host::ng-deep .fake-form-control {
  padding: 0.375rem 0.75rem;
}
