<div class="page-header">
  <div>
    <div class="headline1">
      <span>Invoice {{falconInvoiceNumber}}</span>
    </div>
    <div class="headline3">Status: {{invoiceStatus}}</div>
  </div>
  <div class="d-flex justify-content-end header-button">
    <div class="col-12 d-flex justify-content-end">
      <elm-button id="save-as-template-button"
                  buttonType="button"
                  buttonStyle="text"
                  class="flex-shrink-1"
                  (buttonClick)="clickSaveAsTemplateButton()">
        <u>Save as Template</u>
      </elm-button>
      <elm-button id="delete-button"
                  buttonType="button"
                  buttonStyle="secondary"
                  class="flex-shrink-1 header-button"
                  [isDisabled]="isDeletedInvoice
                                || isSubmittedInvoice"
                  (buttonClick)="clickDeleteButton()">
        Delete
      </elm-button>
      <elm-button id="edit-button"
                  buttonType="button"
                  buttonStyle="primary"
                  class="flex-shrink-1 header-button"
                  [isDisabled]="isEditMode$.value
                                || isDeletedInvoice
                                || isSubmittedInvoice"
                  (buttonClick)="clickToggleEditMode()">
        Edit
      </elm-button>
    </div>
  </div>
</div>

<elm-card>
  <mat-sidenav-container class="side-nav-container"
                         [hasBackdrop]="false">
    <mat-sidenav class="side-nav"
                 [fixedInViewport]="false"
                 mode="side" position="end"
                 [opened]="isMilestoneTabOpen">
      <!-- Milestone Panel -->
      <app-milestone-panel [milestones]="milestones">
      </app-milestone-panel>
    </mat-sidenav>

    <mat-sidenav-content class="side-nav-content">
      <form [formGroup]="invoiceFormGroup">
        <elm-button *ngIf="showMilestoneToggleButton"
                    id="milestones-button"
                    class="milestone-button"
                    (buttonClick)="clickToggleMilestoneTab()"
                    mat-dialog-close>
          Milestones
        </elm-button>

        <!-- Invoice Overview -->
        <app-invoice-overview>
        </app-invoice-overview>
        <hr/>

        <!-- Trip Information -->
        <app-trip-information [formGroup]="tripInformationFormGroup"
                              [loadTripInformation$]="loadTripInformation$.asObservable()"
                              [updateIsEditMode$]="isEditMode$.asObservable()">
        </app-trip-information>
        <hr/>

        <app-invoice-amount
         [formGroup]="invoiceAmountFormGroup"
         [updateIsEditMode$]="isEditMode$.asObservable()"
         >
        </app-invoice-amount>
        <hr>

        <!-- Cost Breakdown -->
        <app-cost-breakdown>
        </app-cost-breakdown>
        <hr/>

        <!-- Allocation -->
        <app-allocation>
        </app-allocation>
        <hr/>

        <!-- FORM FOOTER -->
        <div id="form-footer"
             class="d-flex justify-content-between">

          <!-- CANCEL -->
          <elm-button id="cancel-button"
                      buttonType="button"
                      buttonStyle="text"
                      class="flex-shrink-1"
                      (buttonClick)="clickCancelButton()">
            <u>Cancel</u>
          </elm-button>

          <div class="flex-shrink-1">
            <!-- SAVE -->
            <elm-button id="save-button"
                        buttonType="button"
                        buttonStyle="secondary"
                        class="fake-form-control"
                        [isDisabled]="!isEditMode$.value || invoiceFormGroup.invalid"
                        (buttonClick)="clickSaveButton()">
              Save
            </elm-button>

            <!-- SUBMIT FOR APPROVAL -->
            <elm-button id="submit-for-approval-button"
                        buttonType="button"
                        buttonStyle="primary"
                        class="fake-form-control"
                        [isDisabled]="!isEditMode$.value || invoiceFormGroup.invalid"
                        (buttonClick)="clickSubmitForApprovalButton()">
              Submit for Approval
            </elm-button>
          </div>
        </div>

      </form>
    </mat-sidenav-content>
  </mat-sidenav-container>
</elm-card>
