<div *ngIf="dataLoading" class="cardinal-spinner">
  <elm-progress-spinner label="{{label}}" spinnerType="indeterminate"></elm-progress-spinner>
</div>
<div class="app">
  <div class="page-header">
    <elm-navbar headerTitle="FALCON"
                logoUrl="/assets/ELM_logo.svg"
                [NavBarItems]="navBarItems"
                [showLogout]="false"
                [showFeedback]="true"
                (itemClickEvent)="navItemClicked($event)"
                [userMenuItems]="userMenuItems"
    >
    </elm-navbar>
  </div>
  <div class="page-body">
    <router-outlet>
    </router-outlet>
  </div>
</div>
