<div *ngIf="dataLoading" class="cardinal-spinner">
  <elm-progress-spinner label="{{label}}" spinnerType="indeterminate"></elm-progress-spinner>
</div>
<div class="app">
  <div *ngIf="authService.isAuthenticated()" class="page-header">
    <elm-navbar headerTitle="FALCON"
                [logoUrl]="logoUrl"
                [logoAlt]="logoAlt"
                [navBarItems]="navBarItems"
                [userMenuItems]="userMenuItems"
                [user]="authService.getUserInfo()"
                [showLogout]="true"
                (logoutClickEvent)="logout()"
                [showFeedback]="feedbackService.allScriptsLoaded"
                [showNotifications]="false"
                (actionClickEvent)="navItemClicked($event)"
    >
    </elm-navbar>
  </div>
  <div class="page-body">
    <router-outlet>
    </router-outlet>
  </div>
</div>
