@use "@elm/elm-styleguide-ui/src/styles/utility/elm-colors" as colors;
@use "@elm/elm-styleguide-ui/src/styles/styles";

.app {
  min-height: 100vh;
  height: 100%;
  background-color: colors.$gray-bkg;
  display: flex;
  flex-direction: column;
}

.page-body {
  padding: 0px 24px 16px;
  flex: 1;
}

::ng-deep :active {
  outline: none;
}
.cardinal-spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  border-radius: 6px;
  background-color: colors.$white;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.16);
  padding: 15px;
}
