<div *ngIf="dataLoading" class="cardinal-spinner">
  <cardinal-progress-spinner spinnerType="indeterminate"></cardinal-progress-spinner>
</div>
<div class="app">
  <div class="page-header">
    <cardinal-header headerTitle="FALCON">
      <cardinal-tabs [tabs]="pageTabs"></cardinal-tabs>
    </cardinal-header>
  </div>
  <div class="page-body">
    <router-outlet>
    </router-outlet>
  </div>
  <div class="page-footer">
    <cardinal-footer footerTitle="FALCON">
      <div class="d-flex justify-content-end">
        <!-- feedback button would go here -->
      </div>
    </cardinal-footer>
  </div>
</div>
