<div class="page-header">
  <div class="d-flex flex-column justify-content-between me-2">
    <div>
      <div class="headline1">Invoice Extraction</div>
    </div>
  </div>
</div>
<elm-card>
  <elm-section-header [sectionTitle]="this.invoiceCountLabel">
    <div class="col-12">
      <div class='d-flex justify-content-end align-items-center'>
        <elm-button buttonStyle="primary"
                    (buttonClick)="extract()"
                    [isDisabled]="this.selectedInvoicesToExtract.length < 1"
                    class="me-1">

          EXTRACT INVOICE(S)
        </elm-button>
      </div>
    </div>
  </elm-section-header>
  <cardinal-chip [totalResults]="paginationModel.total"
                 [filtersModel]="this.filterService.invoiceFilterModel"
                 (chipRemovedEvent)="this.resetTable()"></cardinal-chip>
  <elm-data-table
    tableType="multiSelect"
    [data]="invoices"
    [headers]="headers"
    (pageChangedEvent)="pageChanged($event)"
    (buttonClickEvent)="buttonClicked($event)"
    (dataSelectedEvent)="this.selectedInvoicesToExtract = $event"
    (sortEvent)="sortChanged($event)"
    [shouldSort]=true
    [totalResults]="paginationModel.total"
    [pageSizes]="paginationModel.pageSizes">
  </elm-data-table>
</elm-card>
