@use "@elm/elm-styleguide-ui/src/styles/utility/elm-colors" as colors;

.form-control.error {
  border-color: colors.$red;
}

.disabled {
  opacity: 1;
}

.background-disabled {
  background-color: #e9ecef;
}
