@import "~@elm/elm-styleguide-ui/src/styles/cardinal-colors";

.form-control.error {
  border-color: $cardinal-red;
}

.disabled {
  opacity: 1;
}

.background-disabled {
  background-color: #e9ecef;
}
