<div [formGroup]="formGroup">
  <div class="headline2">Trip Information</div>
  <div class="row">
    <div class="col-4">
      <label for="tripIdInput"
             class="fal-label">
        Trip ID
      </label>
      <elm-text-input id="tripIdInput"
                      formControlName="tripId"
                      [errorSpacing]="false">
      </elm-text-input>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <label for="invoiceDateInput"
             class="fal-label">
        Invoice Date
      </label>
      <app-fal-date-input id="invoiceDateInput"
                          class="fal-label"
                          formControlName="invoiceDate"
                          [placeholder]="'MM-DD-YYYY'"
                          [isDisabled]="true"
                          [isError]="!invoiceDateControl.value">
      </app-fal-date-input>
      <elm-input-subtext *ngIf="!invoiceDateControl.value"
                         class="input-error"
                         [isError]="true">
        Invoice Date is missing
      </elm-input-subtext>
    </div>
    <div class="col-4">
      <label for="pickUpDateInput"
             class="fal-label">
        Pick up Date
      </label>
      <!-- TODO: Temporary for FAL-750. Replace when edit capability is implemented -->
      <app-fal-date-input id="pickUpDateInput"
                          class="fal-label"
                          formControlName="pickUpDate"
                          [placeholder]="'MM-DD-YYYY'"
                          [isDisabled]="true"
                          [isError]="!pickUpDateControl.value">
      </app-fal-date-input>
      <elm-input-subtext *ngIf="!pickUpDateControl.value"
                         class="input-error"
                         [isError]="true">
        Pick up Date is missing
      </elm-input-subtext>
    </div>
    <div class="col-4">
      <label for="deliveryDateInput"
             class="fal-label">
        Delivery Date
      </label>
      <!-- TODO: Temporary for FAL-750. Replace when edit capability is implemented -->
      <app-fal-date-input id="deliveryDateInput"
                          class="fal-label"
                          formControlName="deliveryDate"
                          [placeholder]="'MM-DD-YYYY'"
                          [isDisabled]="true"
                          [isError]="!deliveryDateControl.value">
      </app-fal-date-input>
      <elm-input-subtext *ngIf="!deliveryDateControl.value"
                         class="input-error"
                         [isError]="true">
        Delivery Date is missing
      </elm-input-subtext>
    </div>
    <div class="col-4">
      <label for="proTrackingNumberInput"
             class="fal-label">
        PRO/Tracking Number
      </label>
      <elm-text-input id="proTrackingNumberInput"
                      formControlName="proTrackingNumber"
                      [errorSpacing]="false">
      </elm-text-input>
    </div>
    <div class="col-4">
      <label for="bolNumberInput"
             class="fal-label">
        BOL Number
      </label>
      <elm-text-input id="bolNumberInput"
                      formControlName="bolNumber"
                      [errorSpacing]="false">
      </elm-text-input>
    </div>
    <div class="col-4">
      <label for="freightPaymentTermsInput"
             class="fal-label">
        Freight Payment Terms
      </label>
      <ng-select id="freightPaymentTermsInput"
                 [items]="freightPaymentTermOptions"
                 formControlName="freightPaymentTerms"
                 placeholder="Select One..."
                 [ngClass]="{'error': !freightPaymentTermsControl.value}">
      </ng-select>
      <elm-input-subtext *ngIf="!freightPaymentTermsControl.value"
                         class="input-error"
                         [isError]="true">
        Freight Payment Terms is missing
      </elm-input-subtext>
    </div>
    <div class="col-4">
      <label for="carrierInput"
             class="fal-label">
        Carrier
      </label>
      <ng-select id="carrierInput"
                 [items]="carrierOptions"
                 bindLabel="label"
                 bindValue="value"
                 formControlName="carrier"
                 placeholder="Select One..."
                 [compareWith]="compareCarrierWith"
                 [ngClass]="{'error': !carrierControl.value }">
      </ng-select>
      <elm-input-subtext *ngIf="!carrierControl.value"
                         class="input-error"
                         [isError]="true">
        Carrier is missing
      </elm-input-subtext>
    </div>
    <div class="col-4">
      <label for="carrierModeInput"
             class="fal-label">
        Carrier Mode
      </label>
      <ng-select id="carrierModeInput"
                 [items]="carrierModeOptions"
                 bindLabel="label"
                 bindValue="value"
                 formControlName="carrierMode"
                 placeholder="Select One..."
                 [compareWith]="compareCarrierModeWith"
                 [ngClass]="{'error': !carrierModeControl.value}">
      </ng-select>
      <elm-input-subtext *ngIf="!carrierModeControl.value"
                         class="input-error"
                         [isError]="true">
        Carrier Mode is missing
      </elm-input-subtext>
    </div>
    <div class="col-4">
      <label for="serviceLevelInput"
             class="fal-label">
        Service Level
      </label>
      <ng-select id="serviceLevelInput"
                 [items]="serviceLevelOptions"
                 bindLabel="label"
                 bindValue="value"
                 formControlName="serviceLevel"
                 placeholder="Select One..."
                 [compareWith]="compareWith">
      </ng-select>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="originAddressCard"
             class="cardLabel">
        Origin Address
      </label>
      <elm-card id="originAddressCard">
        <app-fal-address
         [formGroup]="originAddressFormGroup"
         [loadAddress$]="loadOriginAddress$.asObservable()"
         >

        </app-fal-address>
      </elm-card>
    </div>
    <div class="col">
      <label class="cardLabel"
             for="destinationAddressCard">
        Destination Address
      </label>
      <elm-card id="destinationAddressCard">
        <app-fal-address
         [formGroup]="destinationAddressFormGroup"
         [loadAddress$]="loadDestinationAddress$.asObservable()"
         >
         </app-fal-address>
      </elm-card>
    </div>
    <div class="col">
      <label class="cardLabel"
             for="billToAddressCard">
        Bill to Address
      </label>
      <elm-card id="billToAddressCard">
        <app-fal-address
        [loadAddress$]="loadBillToAddress$.asObservable()"
        [formGroup]="billToAddressFormGroup"
        [showShippingItemField]="false"
        [validateField]="false"
        >
      </app-fal-address>
      </elm-card>
    </div>
  </div>

  <!--Freight orders section starts here-->
  <div class="row mt-3">
      <div class="col-md-12" (click)="toggleFreightOrderDetailsSection()">
        <span class="accordion-header" *ngIf="!showFreightOrderSection">
          <span class="material-icons">keyboard_arrow_down</span>
          <span class="accordian-link-text">Show Freight Order Details</span>
        </span>
        <span class="accordion-header" *ngIf="showFreightOrderSection">
          <span class="material-icons">keyboard_arrow_up</span>
          <span class="accordian-link-text">Hide Freight Order Details</span>
        </span>
      </div>

      <div id="freightOrderSectionDiv" [hidden]="!showFreightOrderSection" class="col-md-12 mt-3">
          <app-freight-order-details
           [loadFreightOrders$]="loadFreightOrders$.asObservable()">
          </app-freight-order-details>
      </div>
  </div>
</div>
