@import "~@elm/elm-styleguide-ui/src/styles/cardinal-fonts";
@import "~@elm/elm-styleguide-ui/src/styles/cardinal-colors";

.cardLabel {
  @extend .headline3;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.input-error ::ng-deep .elm-input-subtext{
  margin-top: 0;
  margin-bottom: -2em;
}

.ng-select.error ::ng-deep .ng-select-container{
  margin-top: 0;
}

::ng-deep .error {
  border-color: $cardinal-red;
}

::ng-deep .form-control.error {
  border-color: $cardinal-red;
}

.app-fal-date-input.error ::ng-deep .form-control {
  border-color: $cardinal-red;
}

.ng-select.error ::ng-deep .ng-select-container {
  border-color: $cardinal-red;
}

.ng-select.ng-select-disabled ::ng-deep .ng-select-container, ::ng-deep .form-control:disabled, ::ng-deep .form-control[readonly]{
  opacity: 0.65;
  background-color: #e5e4e4
}

::ng-deep .elm-card {
  height: 91%;
  overflow: hidden !important;
}

#freightOrderSectionDiv {
    max-height: 500px;
    overflow: scroll;
}

.accordion-header {
  display: flex;
  color: $elm-blue-dark;

  .accordian-link-text {
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;

  }
}

#delivery-date-label, #pickup-date-label {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: center;
}

#override-assume-delivery-date-container, #pickup-date-container {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: center;
}

.delivery-date-icon, .pickup-date-icon {
  bottom: 1px;
  position: relative;
  color: rgba(0, 0, 0, 0.87);
}

.delivery-date-icon-message, .pickup-date-icon-message {
  top: 1px;
  position: relative;
  color: rgba(0, 0, 0, 0.87);
}

.field-invalid ::ng-deep input{
  border: 1pt solid #db0000 !important;
}

.edit-icon {
  display: inline-flex;
  vertical-align: top;
  padding: 4px;
  cursor: pointer;
}
