<div [formGroup]="formGroup">
  <div class="row">
    <div class="headline2 col-4">
      <span>Trip Information</span>
      <span *ngIf="enableTripEditButton" role="button" class="material-icons material-icons-outlined valign-middle"
            (click)="clickEditButton()">
        edit
      </span>
    </div>
    <div class="col-7 text-end">
      Master Data
      <elm-button [isDisabled]="!isTripEditMode$.value" buttonColor="black" (buttonClick)="refreshMasterData()">
        <div class="material-icons">change_circle</div>
      </elm-button>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <label for="tripIdInput"
             class="fal-label">
        Trip ID
      </label>
      <elm-text-input id="tripIdInput"
                      formControlName="tripId"
                      [addSpacing]="false">
      </elm-text-input>
    </div>
    <div class="col-4">
      <label for="vendorNumberInput"
             class="fal-label">
        Vendor Number
      </label>
      <elm-text-input id="vendorNumberInput"
                      formControlName="vendorNumber"
                      [addSpacing]="true"
                      [ngClass]="{'field-invalid': !vendorNumberControl.value}">>
      </elm-text-input>
      <elm-input-subtext *ngIf="!vendorNumberControl.value"
                         [isError]="true">
        Vendor Number is missing
      </elm-input-subtext>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <label for="invoiceDateInput"
             class="fal-label">
        Invoice Date
      </label>
      <elm-date-picker id="invoiceDateInput"
                       class="fal-label"
                       labelPosition="top"
                       formControlName="invoiceDate"
                       outsideDays="hidden"
                       [showTimezone]="false"
                       [enableTextInput]="false"
                       width="100%">
      </elm-date-picker>
      <elm-input-subtext *ngIf="invoiceDateControl.invalid"
                         [isError]="true">
        Invoice Date is missing
      </elm-input-subtext>
    </div>
    <div class="col-4">
      <label id="pickup-date-label" for="pickUpDateInput"
             class="fal-label">
        Pick up Date
        <span id="pickup-date-container" *ngIf="isPickupDateTimeTendered || pickupDateMatchesTenderDate">
          &nbsp;
          <mat-icon class="pickup-date-icon">label_important</mat-icon>
          <span class="pickup-date-icon-message" *ngIf="isPickupDateTimeTendered">{{ 'TENDER' }}</span>
          <span class="pickup-date-icon-message" *ngIf="pickupDateMatchesTenderDate">{{ 'ESTIMATED' }}</span>
        </span>
      </label>
      <elm-date-picker id="pickUpDateInput"
                       labelPosition="top"
                       formControlName="pickUpDate"
                       outsideDays="hidden"
                       [showTimezone]="false"
                       [enableTextInput]="false"
                       width="100%"
                       [ngClass]="{'field-invalid': !pickUpDateControl.value}">
      </elm-date-picker>
      <elm-input-subtext
        *ngIf="(!pickUpDateControl.value || pickUpDateControl.invalid) && !pickUpDateControl.hasError('dateBefore')"
        [isError]="true">
        Pick up Date is missing
      </elm-input-subtext>
      <elm-input-subtext *ngIf="pickUpDateControl.hasError('dateBefore')"
                         [isError]="true">
        Pick up Date must be on or before current date
      </elm-input-subtext>
    </div>
    <div class="col-4">
      <label id="delivery-date-label" for="deliveryDateInput"
             class="fal-label">
        Delivery Date
        <span id="override-assume-delivery-date-container"
              *ngIf="showArrowForDeliveryDateTime">
          &nbsp;
          <mat-icon class="delivery-date-icon">label_important</mat-icon>
          <span class="delivery-date-icon-message">{{ arrowLabelForDeliveryDateTime }}</span>
        </span>
      </label>
      <elm-date-picker id="deliveryDateInput"
                       class="fal-label"
                       labelPosition="top"
                       formControlName="deliveryDate"
                       outsideDays="hidden"
                       [showTimezone]="false"
                       [enableTextInput]="false"
                       width="100%">
      </elm-date-picker>
      <elm-input-subtext *ngIf="deliveryDateControl.invalid"
                         class="input-error"
                         [isError]="true">
        Delivery Date is missing
      </elm-input-subtext>
    </div>
    <div class="col-4">
      <label for="proTrackingNumberInput"
             class="fal-label">
        PRO/Tracking Number
      </label>
      <elm-text-input id="proTrackingNumberInput"
                      formControlName="proTrackingNumber"
                      [addSpacing]="false">
      </elm-text-input>
    </div>
    <div class="col-4">
      <label for="bolNumberInput"
             class="fal-label">
        BOL Number
      </label>
      <elm-text-input id="bolNumberInput"
                      formControlName="bolNumber"
                      [addSpacing]="true"
                      [ngClass]="{'field-invalid': bolNumberControl.invalid || !isValidBolNumber}">
      </elm-text-input>
      <elm-input-subtext *ngIf="bolNumberControl.invalid || !isValidBolNumber || tripInformation.duplicateBOLErrorMessage"
                         class="input-error"
                         [isError]="true">
        <span *ngFor="let message of bolNumberControlErrorMessages">
          {{message}}<br/>
        </span>
      </elm-input-subtext>
    </div>
    <div class="col-4">
      <label for="freightPaymentTermsInput"
             class="fal-label">
        Freight Payment Terms
      </label>
      <ng-select id="freightPaymentTermsInput"
                 [items]="freightPaymentTermOptions"
                 formControlName="freightPaymentTerms"
                 placeholder="Select One..."
                 [ngClass]="{'error': !freightPaymentTermsControl.value}">
      </ng-select>
      <elm-input-subtext *ngIf="!freightPaymentTermsControl.value"
                         class="input-error"
                         [isError]="true">
        Freight Payment Terms is missing
      </elm-input-subtext>
    </div>
    <div class="col-4">
      <label for="carrierInput"
             class="fal-label">
        Carrier
      </label>
      <ng-select id="carrierInput"
                 [items]="carrierOptions"
                 bindLabel="label"
                 bindValue="value"
                 formControlName="carrier"
                 placeholder="Select One..."
                 (change)="refreshCarrierData()"
                 [compareWith]="compareCarrierWith"
                 [ngClass]="{'error': isInvalid(carrierControl) || !carrierDetailFound}">
      </ng-select>
      <elm-input-subtext *ngIf="!carrierControl.value"
                         class="input-error"
                         [isError]="true">
        Carrier is missing<br/>
      </elm-input-subtext>
      <elm-input-subtext *ngIf="carrierControl.value && !carrierDetailFound"
                         class="input-error"
                         [isError]="true">
        SCAC needs to be updated in Carrier Detail<br/>
      </elm-input-subtext>
      <elm-input-subtext
        *ngIf="carrierControl.value && !!(validateIsOption(carrierOptions, compareCarrierWith)(carrierControl))"
        class="input-error"
        [isError]="true">
        Carrier "{{carrierUtilsToDisplayLabel(carrierControl.value)}}" missing in master data
        <app-info-icon-tooltip
          style="color: black"
          *ngIf="carrierControl.value.scac === 'UNMP'"
          [fontSize]="'20px'"
          [tooltipMessage]="'UNMP is not payable. Research needed to get correct scac.'"></app-info-icon-tooltip>
        <br/>
      </elm-input-subtext>

    </div>
    <div class="col-4">
      <label for="carrierModeInput"
             class="fal-label">
        Carrier Mode
      </label>
      <ng-select id="carrierModeInput"
                 [items]="filteredCarrierModeOptions"
                 bindLabel="label"
                 bindValue="value"
                 formControlName="carrierMode"
                 placeholder="Select One..."
                 [compareWith]="compareCarrierModeWith"
                 [ngClass]="{'error': isInvalid(carrierModeControl)}">
      </ng-select>
      <elm-input-subtext *ngIf="!carrierModeControl.value"
                         class="input-error"
                         [isError]="true">
        Carrier Mode is missing<br/>
      </elm-input-subtext>
      <elm-input-subtext
        *ngIf="carrierModeControl.value && !!validateIsOption(filteredCarrierModeOptions, compareCarrierModeWith)(carrierModeControl)"
        class="input-error"
        [isError]="true">
        Carrier Mode "{{carrierModeCodeUtilsToDisplayLabel(carrierModeControl.value)}}" missing in master data for
        selected carrier<br/>
      </elm-input-subtext>
    </div>
    <div class="col-4">
      <label for="serviceLevelInput"
             class="fal-label">
        Service Level
      </label>
      <ng-select id="serviceLevelInput"
                 [items]="filteredServiceLevels"
                 bindLabel="label"
                 bindValue="value"
                 formControlName="serviceLevel"
                 placeholder="Select One..."
                 [compareWith]="compareServiceLevelWith"
                 [ngClass]="{'error': isInvalid(serviceLevelControl)}">
      </ng-select>
      <elm-input-subtext *ngIf="!serviceLevelControl.value"
                         class="input-error"
                         [isError]="true">
        Service Level is missing<br/>
      </elm-input-subtext>
      <elm-input-subtext
        *ngIf="serviceLevelControl.value && !!validateIsOption(filteredServiceLevels, compareServiceLevelWith)(serviceLevelControl)"
        class="input-error"
        [isError]="true">
        Service Level "{{serviceLevelControl.value}}" missing from master data<br/>
      </elm-input-subtext>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col">
      <label for="originAddressCard"
             class="cardLabel">
        Origin Address
      </label>
      <elm-card id="originAddressCard" overflow="visible">
        <app-fal-address
          [addressType]="'origin'"
          [formGroup]="originAddressFormGroup"
          [destinationType]="tripInformation.destinationType"
          [loadAddress$]="loadOriginAddress$.asObservable()"
          [updateIsEditMode$]="isTripEditMode$.asObservable()"
          [loadFilteredShippingPointLocations$]="filteredShippingPoints$.asObservable()"
          (originShippingPointChangeEvent)="updateBillToEvent($event)">
        </app-fal-address>
      </elm-card>
    </div>
    <div class="col">
      <label class="cardLabel"
             for="destinationAddressCard">
        Destination Address
      </label>
      <elm-card id="destinationAddressCard" overflow="visible">
        <app-fal-address
          [addressType]="'destination'"
          [formGroup]="destinationAddressFormGroup"
          [destinationType]="tripInformation.destinationType"
          [loadAddress$]="loadDestinationAddress$.asObservable()"
          [updateIsEditMode$]="isTripEditMode$.asObservable()"
          [loadFilteredShippingPointLocations$]="filteredShippingPoints$.asObservable()">
        </app-fal-address>
      </elm-card>
    </div>
    <div class="col">
      <label class="cardLabel"
             for="billToAddressCard">
        Bill to Address
      </label>
      <elm-card id="billToAddressCard" overflow="visible">
        <app-fal-address
          [loadAddress$]="loadBillToAddress$.asObservable()"
          [formGroup]="billToAddressFormGroup"
          [showShippingItemField]="false"
          [validateField]="false"
        >
        </app-fal-address>
      </elm-card>
    </div>
  </div>

  <br/>
  <div class="row">
    <div *ngIf="isTripEditMode$.value" class="col-12 d-flex justify-content-end mt-3">
      <elm-button id="cancel-button"
                  buttonType="button"
                  buttonStyle="secondary"
                  class="mx-3"
                  [isDisabled]="!isTripEditMode$.value"
                  (buttonClick)="clickCancelButton()">
        Cancel
      </elm-button>
      <elm-button id="update-button"
                  buttonType="button"
                  buttonStyle="primary"
                  class=""
                  [isDisabled]="!isTripEditMode$.value || bolNumberControl.invalid"
                  (buttonClick)="clickUpdateButton()">
        Update & Continue
      </elm-button>
    </div>
  </div>

  <!--Freight orders section starts here-->
  <div class="row mt-3">
    <div class="col-lg-6">
      <div class="headline2 row">
        <div class="col-4">
          Weight Adjustment
          <span *ngIf="enableTripEditButton === true && isTripEditMode$.value === false"
                class="material-icons edit-icon"
                (click)="openWeightAdjustmentModal()">edit</span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label id="weight-label"
                 class="fal-label">
            Total Gross Weight (lb)
            <div id="weight-sub-label-container"
                 *ngIf="hasWeightAdjustments">
              <mat-icon class="weight-icon">label_important</mat-icon>
              <div class="weight-icon-message fw-bold">Adjusted</div>
            </div>
          </label>

        </div>
        <div class="col">
          <label class="fal-label">Total Volume (ft<sup>3</sup>)</label>

        </div>
        <div class="col">
          <label class="fal-label">Total Pallet Ct (plt)</label>

        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <elm-text-input formControlName="totalGrossWeight"></elm-text-input>
        </div>
        <div class="col">
          <elm-text-input formControlName="totalVolume"></elm-text-input>
        </div>
        <div class="col">
          <elm-text-input formControlName="totalPalletCount"></elm-text-input>
        </div>
      </div>
      <div *ngIf="hasWeightAdjustments" class="row mb-3 ms-5">
        <div class="col-12" (click)="toggleWeightAdjustmentDetailsSection()">
        <span class="accordion-header" *ngIf="!showWeightAdjustmentSection">
          <span class="material-icons">keyboard_arrow_down</span>
          <span class="accordian-link-text">Show Weight Adjustment Details</span>
        </span>
          <span class="accordion-header" *ngIf="showWeightAdjustmentSection">
          <span class="material-icons">keyboard_arrow_up</span>
          <span class="accordian-link-text">Hide Weight Adjustment Details</span>
        </span>
        </div>
        <div id="weightAdjustmentSection"
             class="row col-12 mt-3"
             [hidden]="!showWeightAdjustmentSection">
          <div class="col-4">
            <label for="originalTotalGrossWeight"
                   class="fal-label">
              Total Gross Weight (lb): <span class="fw-bold">Original</span>
            </label>
            <elm-text-input id="originalTotalGrossWeight"
                            formControlName="originalTotalGrossWeight">
            </elm-text-input>
          </div>
          <div formArrayName="weightAdjustments">
            <div *ngFor="let _ of weightAdjustments.controls; index as i"
                 [formGroupName]="i"
                 class="row col-12">
              <div class="col-4">
                <label *ngIf="i === 0" class="fal-label">
                  Weight Adjusted
                </label>
                <elm-text-input formControlName="amount">
                </elm-text-input>
              </div>
              <div class="col-4">
                <label *ngIf="i === 0" class="fal-label">
                  Customer Category
                </label>
                <elm-text-input formControlName="customerCategory">
                </elm-text-input>
              </div>
              <div class="col-4">
                <label *ngIf="i === 0" class="fal-label">
                  Freight Class
                </label>
                <elm-text-input formControlName="freightClasses">
                </elm-text-input>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12" (click)="toggleFreightOrderDetailsSection()">
      <span class="accordion-header" *ngIf="!showFreightOrderSection">
        <span class="material-icons">keyboard_arrow_down</span>
        <span class="accordian-link-text">Show Freight Order Details</span>
      </span>
      <span class="accordion-header" *ngIf="showFreightOrderSection">
        <span class="material-icons">keyboard_arrow_up</span>
        <span class="accordian-link-text">Hide Freight Order Details</span>
      </span>
      <div *ngIf="hasAnyWeightToleranceError" class="error-text">
        Calculated Freight order total weight not within tolerance of Chile provided weight. Please contact Falcon IT
        support.
      </div>
    </div>

    <div id="freightOrderSectionDiv" [hidden]="!showFreightOrderSection" class="col-md-12 mt-3">
      <app-freight-order-details
        [loadFreightOrders$]="loadFreightOrders$.asObservable()"
        (totalEmitter)="updateFreightOrderTotals($event)">
      </app-freight-order-details>
    </div>
  </div>
</div>
