<div [formGroup]="formGroup">
  <div class="headline2">Trip Information</div>
  <div class="row">
    <div class="col-4">
      <label for="tripIdInput"
             class="fal-label">
        Trip ID
      </label>
      <elm-text-input id="tripIdInput"
                      formControlName="tripId">
      </elm-text-input>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <label for="invoiceDateInput"
             class="fal-label">
        Invoice Date
      </label>
      <elm-date-picker id="invoiceDateInput"
                       class="fal-label"
                       labelPosition="top"
                       formControlName="invoiceDate"
                       [errorSpacing]="invoiceDateControl.valid">
      </elm-date-picker>
      <small class="inputError"
             *ngIf="invoiceDateControl.invalid">
        Invoice Date is required
      </small>
    </div>
    <div class="col-4">
      <label for="pickUpDateInput"
             class="fal-label">
        Pick up Date
      </label>
      <elm-date-picker id="pickUpDateInput"
                       class="fal-label"
                       labelPosition="top"
                       formControlName="pickUpDate"
                       [errorSpacing]="pickUpDateControl.valid">
      </elm-date-picker>
      <small class="inputError"
             *ngIf="pickUpDateControl.invalid">
        Pick up Date is required
      </small>
    </div>
    <div class="col-4">
      <label for="deliveryDateInput"
             class="fal-label">
        Delivery Date
      </label>
      <elm-date-picker id="deliveryDateInput"
                       class="fal-label"
                       labelPosition="top"
                       formControlName="deliveryDate"
                       [errorSpacing]="deliveryDateControl.valid">
      </elm-date-picker>
      <small class="inputError"
             *ngIf="deliveryDateControl.invalid">
        Delivery Date is required
      </small>
    </div>
    <div class="col-4">
      <label for="proTrackingNumberInput"
             class="fal-label">
        PRO/Tracking Number
      </label>
      <elm-text-input id="proTrackingNumberInput"
                      formControlName="proTrackingNumber"
                      [errorSpacing]="proTrackingNumberControl.valid">
      </elm-text-input>
      <small class="inputError"
             *ngIf="proTrackingNumberControl.invalid">
        PRO/Tracking Number is required
      </small>
    </div>
    <div class="col-4">
      <label for="bolNumberInput"
             class="fal-label">
        BOL Number
      </label>
      <elm-text-input id="bolNumberInput"
                      formControlName="bolNumber"
                      [errorSpacing]="bolNumberControl.valid">
      </elm-text-input>
      <small class="inputError"
             *ngIf="bolNumberControl.invalid">
        BOL Number is required
      </small>
    </div>
    <div class="col-4">
      <label for="freightPaymentTermsInput"
             class="fal-label">
        Freight Payment Terms
      </label>
      <ng-select id="freightPaymentTermsInput"
                 [items]="freightPaymentTermOptions"
                 formControlName="freightPaymentTerms"
                 [ngClass]="{'error': freightPaymentTermsControl.invalid}">
      </ng-select>
      <small class="inputError"
             *ngIf="freightPaymentTermsControl.invalid">
        Freight Payment Terms is required
      </small>
    </div>
    <div class="col-4">
      <label for="carrierInput"
             class="fal-label">
        Carrier
      </label>
      <ng-select id="carrierInput"
                 [items]="carrierOptions"
                 bindLabel="label"
                 bindValue="value"
                 formControlName="carrier"
                 [ngClass]="{'error': carrierControl.invalid}">
      </ng-select>
      <small class="inputError"
             *ngIf="carrierControl.invalid">
        Carrier is required
      </small>
    </div>
    <div class="col-4">
      <label for="carrierModeInput"
             class="fal-label">
        Carrier Mode
      </label>
      <ng-select id="carrierModeInput"
                 [items]="carrierModeOptions"
                 bindLabel="label"
                 bindValue="value"
                 formControlName="carrierMode"
                 [ngClass]="{'error': carrierModeControl.invalid}">
      </ng-select>
      <small class="inputError"
             *ngIf="carrierModeControl.invalid">
        Carrier Mode is required
      </small>
    </div>
    <div class="col-4">
      <label for="serviceLevelInput"
             class="fal-label">
        Service Level
      </label>
      <ng-select id="serviceLevelInput"
                 [items]="serviceLevelOptions"
                 bindLabel="label"
                 bindValue="value"
                 formControlName="serviceLevel"
                 [ngClass]="{'error':serviceLevelControl.invalid}">
      </ng-select>
      <small class="inputError"
             *ngIf="serviceLevelControl.invalid">
        Service Level is required
      </small>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="originAddressCard"
             class="cardLabel">
        Origin Address
      </label>
      <elm-card id="originAddressCard">
        Placeholder
      </elm-card>
    </div>
    <div class="col">
      <label class="cardLabel"
             for="destinationAddressCard">
        Destination Address
      </label>
      <elm-card id="destinationAddressCard">
        Placeholder
      </elm-card>
    </div>
    <div class="col">
      <label class="cardLabel"
             for="billToAddressCard">
        Bill to Address
      </label>
      <elm-card id="billToAddressCard">
        Placeholder
      </elm-card>
    </div>
  </div>
</div>
