@import "~@elm/elm-styleguide-ui/src/styles/cardinal-fonts";
@import "~@elm/elm-styleguide-ui/src/styles/cardinal-colors";

.cardLabel {
  @extend .headline3;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

// TODO: Temporary for FAL-750. Replace when edit capability is implemented
.input-error ::ng-deep .elm-input-subtext{
  margin-top: 0;
}

.ng-select.error ::ng-deep .ng-select-container{
  margin-top: 0;
}

::ng-deep .error {
  border-color: $cardinal-red;
}

::ng-deep .form-control.error {
  border-color: $cardinal-red;
}

.app-fal-date-input.error ::ng-deep .form-control {
  border-color: $cardinal-red;
}

.ng-select.error ::ng-deep .ng-select-container {
  border-color: $cardinal-red;
}
::ng-deep .elm-card {
  height: 91%;
  overflow: hidden !important;
}

#freightOrderSectionDiv {
    max-height: 500px;
    overflow: scroll;
}

.accordion-header {
  display: flex;
  color: $elm-blue-dark;

  .accordian-link-text {
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;

  }
}
