<div>
  <form class="needs-validation" [formGroup]="controlGroup" (submit)="submit()" novalidate>
    <label for="searchInput">Find an Invoice (search all invoices)</label>
    <div class="input-group has-validation" style="width: 387px">
      <input [ngClass]="{'is-invalid': submitted && controlGroup.controls.control.errors}" id="searchInput"
             type="text"
             formControlName="control"
             class="form-control"
             minlength="10"
             [maxLength]="10"
             autocomplete="off">
      <button type="submit"
              class="input-group-button">
        <span class="material-icons" [attr.aria-label]="label">search</span>
      </button>
    </div>
    <span *ngIf="showHelperText()" class="fieldHelperText">{{label}}</span>
    <span class="invalid-feedback elm-field-sub1">{{getErrorMessage()}}</span>
  
  </form>
</div>
