@use "@elm/elm-styleguide-ui/src/styles/utility/elm-input-group" as input-group;
@use "@elm/elm-styleguide-ui/src/styles/utility/elm-fonts" as fonts;
@use "@elm/elm-styleguide-ui/src/styles/utility/elm-colors" as colors;

.sub-text {
  @include fonts.field-label;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error-message {
  color: colors.$error-red;
}
