<div>
  <form class="needs-validation" [formGroup]="controlGroup" (submit)="submit()" novalidate>
    <label for="searchInput">Find an Invoice (search all invoices)</label>
    <div class="input-group" style="width: 450px">
      <input [maxLength]="255"
             [required]="false"
             autocomplete="off"
             class="form-control"
             formControlName="control"
             id="searchInput"
             type="text">
      <elm-button [buttonType]="'submit'"
                  centerIcon="search"
                  class="input-group-btn input-append-button">
      </elm-button>
    </div>
    <div class="sub-text">
      <div>
        <div *ngIf="showHelperText()">
          {{label}}
        </div>
        <div *ngIf="!showHelperText()"
             class="error-message">
          {{getErrorMessage()}}
        </div>
      </div>
    </div>
  </form>
</div>
