@use "@elm/elm-styleguide-ui/src/styles/utility/elm-colors" as colors;

.fal-container-body {
  display: flex;
  border-style: solid;
  border-width: thin;
  background-color: colors.$gray-lighter;
  color: colors.$gray-darker;
  border-color: colors.$gray-darker;
  border-radius: 0.25rem;

  .material-icons {
    margin: 1rem 0 1rem 1rem;
    font-size: 24px;
  }

  .fal-container-content {
    color: colors.$black;
    margin: 1rem;
    width: auto;
  }
}

.fal-container-rejected {
  @extend .fal-container-body;
  background-color: colors.$error-red-bkg;
  color: colors.$error-red;
  border-color: colors.$error-red;
}
