<div class="page-header">
  <div class="d-flex flex-column justify-content-between me-2">
    <div>
      <div class="headline1">Manage My Templates</div>
    </div>
  </div>
</div>
<cardinal-card>
  <cardinal-section-header [sectionTitle]="'My Templates'">
  </cardinal-section-header>

  <table *ngIf="templates && templates.length > 0; else noData" mat-table [dataSource]="templates"
    class="mat-elevation-z8">

    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef> Created Date </th>
      <td mat-cell *matCellDef="let template"> {{template.createdDate | date : 'MM/dd/yyyy'}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let template">
        <input type="text=" [value]="template.name" [disabled]="template.isDisable" class="col-11 form-control">
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let template">
        <input type="text=" [value]="template.description" [disabled]="template.isDisable" class="form-control col-11">
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let template">
        <span *ngIf="template.isDisable ; else submit" role="button" class="material-icons material-icons-outlined"
          (click)="editTemplate(template)">
          edit
        </span>
        <ng-template #submit>
          <span role="button" class="material-icons material-icons-outlined" (click)="editTemplate(template)">
            done
          </span>
          <span role="button" class="material-icons material-icons-outlined" (click)="cancelTemplate(template)">
            block
          </span>
        </ng-template>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <ng-template #noData>
    <p class="p-align">You have no templates available</p>
  </ng-template>
</cardinal-card>