$cardinal-red: #e41f35;
$cardinal-white: #fff;
$cardinal-teal: #346170;

$cardinal-blue: #bbdde6;
$cardinal-grey: #e0e0e0;
$cardinal-warm-grey: #948a85;
$cardinal-black: #27251f;

$error-red: #db0000;
$dark-red: #6d151f;
$compliant-green: #06890e;
$bkg-grey: #f6f6f6;
$grey1: #efefef;
$grey2: #c7c7c7;
$grey3: #666;

$contained-button-hover: #e94c5d;
$contained-button-focus: #eb5d6d;
