@use "@elm/elm-styleguide-ui/src/styles/styles";
@use "@ng-select/ng-select/themes/default.theme.css";
@use "bootstrap/scss/bootstrap";

.fal-label {
  @extend .form-label;
  @extend .fieldLabel1;
  margin-top: 1em;
}

.invisible {
  visibility: hidden !important;
}

.debug-outline {
  border: 1px solid red;
}
