<cardinal-card>
  <cardinal-section-header [sectionTitle]="'Create Invoice'">
  </cardinal-section-header>
  <div id="container" class="">

    <form [formGroup]="invoiceFormGroup"
          (ngSubmit)="onSubmit()">

      <div class="row">

        <!-- WORK TYPE -->
        <div class="col-12">
          <label for="work-type-input" class="form-label fieldLabel1">
            Work Type
          </label>
          <ng-select id="work-type-input"
                     formControlName="workType"
                     [items]="workTypeOptions"
                     [searchable]="true"
                     placeholder="Select One....">
          </ng-select>
        </div>

        <!-- COMPANY CODE -->
        <div class="col-12">
          <label for="company-code-input" class="form-label fieldLabel1">
            Company Code
          </label>
          <input type="text"
                 id="company-code-input"
                 formControlName="companyCode"
                 class="form-control"
          />
        </div>

        <!-- ERP TYPE -->
        <div class="col-12">
          <label for="erp-type-input" class="form-label fieldLabel1">
            ERP Type
          </label>
          <ng-select id="erp-type-input"
                     formControlName="erpType"
                     [items]="erpTypeOptions"
                     [searchable]="true"
                     placeholder="Select One....">
          </ng-select>
        </div>

        <!-- VENDOR NUMBER -->
        <div class="col-12 col-md-6">
          <label for="vendor-number-input" class="form-label fieldLabel1">
            Vendor Number
          </label>
          <input type="text"
                 id="vendor-number-input"
                 class="form-control"
                 formControlName="vendorNumber"
          />
        </div>

        <!-- EXTERNAL INVOICE NUMBER -->
        <div class="col-12 col-md-6">
          <label for="external-invoice-number-input" class="form-label fieldLabel1">
            External Invoice Number
          </label>
          <input type="text"
                 id="external-invoice-number-input"
                 class="form-control"
                 formControlName="externalInvoiceNumber"
          />
        </div>

        <!-- EXTERNAL INVOICE DATE -->
        <div class="col-12 col-md-5">
          <label for="external-invoice-date-input" class="form-label fieldLabel1">
            External Invoice Date
          </label>
          <app-fal-date-input id="external-invoice-date-input"
                              formControlName="invoiceDate">
          </app-fal-date-input>
        </div>


        <!-- INVOICE AMOUNT -->
        <div class="col-6 col-md-4">
          <label for="invoice-amount-input" class="form-label fieldLabel1">
            Invoice Amount
          </label>
          <input type="text"
                 id="invoice-amount-input"
                 class="form-control"
                 formControlName="amountOfInvoice"
          />
        </div>

        <!-- CURRENCY -->
        <div class="col-6 col-md-3">
          <label for="currency-input" class="form-label fieldLabel1">
            Currency
          </label>
          <ng-select id="currency-input"
                     formControlName="currency"
                     [items]="currencyOptions"
                     [searchable]="true"
                     placeholder="Select One....">
          </ng-select>
        </div>

        <!-- LINE ITEMS -->
        <cardinal-card id="line-items-card"
                       formArrayName="lineItems">
          <cardinal-section-header [sectionTitle]="'Line Items'">
          </cardinal-section-header>
          <div id="line-item-rows-container">
            <div *ngFor="let _ of lineItemsFormArray.controls; index as i"
                 class="line-item-row d-flex flex-nowrap justify-content-between align-items-end"
                 [formGroupName]="i">

              <!-- LINE ITEM - NUMBER -->
              <div class="flex-shrink-1">
                <label class="form-label fieldLabel1">
                  &nbsp;
                </label>
                <div class="fake-form-control">
                  {{i + 1}}
                </div>
              </div>

              <!-- LINE ITEM - COMPANY CODE -->
              <div>
                <label class="form-label fieldLabel1">
                  Company Code
                </label>
                <input type="text"
                       class="form-control"
                       formControlName="companyCode"
                />
              </div>

              <!-- LINE ITEM - COST CENTER -->
              <div>
                <label class="form-label fieldLabel1">
                  Cost Center
                </label>
                <input type="text"
                       class="form-control"
                       formControlName="costCenter"
                />
              </div>

              <!-- LINE ITEM - GL ACCOUNT -->
              <div>
                <label class="form-label fieldLabel1">
                  GL Account
                </label>
                <input type="text"
                       class="form-control"
                       formControlName="glAccount"
                />
              </div>

              <!-- LINE ITEM - NET AMOUNT -->
              <div>
                <label class="form-label fieldLabel1">
                  Net Amount
                </label>
                <input type="text"
                       class="form-control"
                       formControlName="lineItemNetAmount"
                />
              </div>

              <!-- LINE ITEM - NOTES -->
              <div class="w-50">
                <label class="form-label fieldLabel1">
                  Notes (optional)
                </label>
                <input type="text"
                       class="form-control"
                       formControlName="notes"
                />
              </div>

              <!-- LINE ITEM - REMOVE -->
              <div class="flex-shrink-1">
                <label class="form-label fieldLabel1">
                  &nbsp;
                </label>
                <input type="button"
                       value="remove_circle"
                       class="material-icons btn line-item-remove-button"
                       [disabled]="lineItemRemoveButtonDisable"
                       (click)="removeLineItem(i)"
                />
              </div>

            </div>
          </div>
          <input type="button"
                 id="add-new-line-item-button"
                 class="btn btn-link m-1"
                 value="+ Add New Line Item"
                 (click)="addNewEmptyLineItem()"
          />
        </cardinal-card>

        <!-- FORM FOOTER -->
        <div id="form-footer"
             class="col-12 d-flex justify-content-between">

          <!-- CANCEL -->
          <input type="button"
                 id="cancel-button"
                 class="btn btn-link flex-shrink-1"
                 value="Cancel"
          />

          <!-- SUBMIT -->
          <input type="submit"
                 id="submit-button"
                 value="Create"
                 class="btn flex-shrink-1"
                 [ngClass]="invoiceFormGroup.valid ? 'btn-primary' : 'btn-outline-secondary'"
                 [disabled]="!invoiceFormGroup.valid"
          />
        </div>

      </div>

    </form>
  </div>
</cardinal-card>

