@use "@elm/elm-styleguide-ui/src/styles/utility/elm-colors" as colors;
@use "@elm/elm-styleguide-ui/src/styles/utility/elm-fonts";

.chips-container {
  background-color: colors.$gray-bkg;
}

.mat-chip-trailing-icon {
  margin-top: 1px;
  color: colors.$gray-darker !important;
  font-size: 16px;
}

.filter-tooltip {
  @extend .elm-field-label1;
  text-align: left;
}
